.navbar-brand {
    padding-top: 5px;
    height: 40px;
}

.nav-justified > li > a {
    text-align: left;
}

.techcrunch {
    width: 90vw;
}

#desktop-display-header {
    display: none;
}
.collapse {
    border: 0px;
}

#collapse-legalese,
#collapse-legalese:hover {
    font-family: "Alegreya", serif;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    padding-top: 7px;
    display: inline-block;
    letter-spacing: 2px;
}

.legalese-nav.justify-content-center {
    justify-content: space-between!important;
}

#top-bar {
    display: block;
}

.top-justify {
    display: block;
}

.row.text-center.black-rec > h2 {
    font-size: 16px;
}

.row.text-center.black-rec > p {
    font-size: 12px;
    padding: 0px 10px;
}

.navbar-collapse {
    background-color: white;
}

.blurb-nav > li {
    width: 100%;
}

#statusquo, #investornotice, #players {
    padding-top: 0px;
}

.blurb-spacing {
    line-height: 2.5rem;
}

.bot-squeeze {
    width: 80%;
    padding: 0 0 0 14px;
}

.bot-container {
    margin-top: 50px;
}

#first-bottom {
    margin-left: 0px;
    padding-top: 10px;
}

#bot-legalese-col {
    width: 100%;
    padding-right: 10px;
}

h2 {
    text-align: center;
}

.left-menu {
    position: relative;
    text-align: center;
}

.modal-dialog {
    max-width: 90vw;
    margin: 0 auto;
}

.modal-content {
    max-width: 90vw;
    margin: 0 auto;
}

.pricing-feature-cols {
    min-width: 0px;
}

.pricing-feature-cols-long {
    min-width: 0px;
}

.pricing-logo-docs {
    height: 200px;
    position: absolute;
    right: 25%;
    top: 40px;
}

.small-centre {
    text-align: center;
}

ul.li-inline li { display: block; line-height: 1.5em }
ul.li-inline li::before {
    content: "//";
    position:relative;
    vertical-align: center;
    margin-right: 6pt;
    margin-left: 4pt;
}

.a-link {
    display: inline;
}

#media-logo {
    left: 50%;
}

.media-menu {
    text-align: center;
}

.active-media-link {
    transform: none;
    padding: 20px;
}

.left-media-col {
    text-align: center;
    padding-right: 0px;
}

.hidden-white {
    display: none;
}

.small-block {
    display: block;
    text-align: center;
}

#hq-img {
    margin-left: 0;
}

.founded-block {
    margin-top: 20px;
}

blockquote:before {
    left: -20px;
}

blockquote:after {
    bottom: 60px;
    right: -20px;
}

.dropdown-menu {
    display: block;
    left: 0;
    transform: translateX(0px);
    box-shadow: none;
    padding: 0;
}

.top-subtitle {
    text-align: left;
    padding: 0;
}

.dropdown.nav-item {
    margin: 20px;
}

#navbarSupportedContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    min-height: 120vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: white;
    z-index: 99999;
    padding-top: 50px;
    padding-left: 15px;
}

#navbarSupportedContent.toggled {
    margin-left: -1rem;
}

.sidebar-title {
    display: block;
    padding-left: 20px;
}

.highlight-row-purple {
    padding-top: 10px;
}
