---
layout: default
---
<div class="container-fluid top-container bottom-content" id="second-container">
  {% include pricing.html
  blurb="Flexible plans that grow with you"
  otherPage="individuals-and-enterprises"
  extraMargin="20px"
  checked=true
  %}
  <div class="row" style="margin-top: 40px">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4">
      <h2 style="margin-bottom: 5px"><b>Welcome to the Legalese Developer Platform.</b></h2>
      <p style="margin-bottom: 0px">Designed to allow you to connect your applications with the Legalese Services via an API platform.
    </div>
  </div>
  <div class="row row-equal-height" style="min-height: 200px">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-lg-offset-2">
      <img class="test-pricing" src="images/93- hacker-hacking-server.svg">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 picture-padding">
      <h4><b>Transparent Calls-Based Pricing via our APIs</b></h4>
      <div class="highlight-row-purple subscription-box">
	<div style="background: #fff; padding: 10px">
	  <h3 style="margin: 0px"><b>Your Subscription = <sup style="font-weight: 500; color: #929292; font-size: 10px; top: -1.2em">as low as SGD</sup> $165/<span class="small-money">mo</span></b></h3>
	</div>
      </div>
      <h4><b>... and then each month, just spend your Subscription Amount on any combination of these calls</b></h4>
      <h4 style="color: blue; margin-top: 5px"><b>based on your templates (and ours)!</b></h5>
    </div>
  </div>
  <div class="row highlight-row-special-above">
  </div>
  <div class="row highlight-row-special">	

    <!-- First column -->
    
    <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="pricing-labels subscription-box-margins">
	    <p style="margin-top: 10px; color: rgba(97,89,255,1)"><b>PDF Document Generation</b></p>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-blue subscription-box-margins text-center">
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$1.<span class="small-money">49</span></h3>
		<p>per generation of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Standard Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, nueric fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-blue subscription-box-margins text-center">
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$2.<span class="small-money">49</span></h3>
		<p>per generation of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Complex Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Second column -->
    
    <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="pricing-labels subscription-box-margins">	
	    <p style="margin-top: 10px; color: #dd68ff"><b>MSWord Document<br>Generation</b></p>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-purple subscription-box-margins text-center">
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$2.<span class="small-money">49</span></h3>
		<p>per generation of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Standard Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, nueric fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-purple subscription-box-margins text-center">
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$3.<span class="small-money">49</span></h3>
		<p>per generation of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Complex Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Third column -->
    
    <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols" style="margin-bottom: 20px">
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="pricing-labels subscription-box-margins">
	    <p style="margin-top: 10px; color: #29d47a"><b>Import your templates for API calls</b></p>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-green subscription-box-margins text-center">
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$175</h3>
		<p>per import of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Standard Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, nueric fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-xs-12 pricing-cols-padding">
	<div class="pseudo-table-no-border">
	  <div class="highlight-row-green subscription-box-margins text-center">	
	    <div class="subscription-content">
	      <div class="subscription-box-center">
		<h3>$275</h3>
		<p>per import of</p>
		<div style="position: relative">
		  <p class="inline-p"><b>Complex Doc</b></p>
		  {% include popover.html
		  customClass="popover-display-custom"
		  position="auto right"
		  content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		  html=true
		  %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  {% include addons.html
  leftLabel=true
  center=false
  smallCol="col-md-1"
  largeCol="col-lg-3"
  %}
</div>
