---
layout: default
---
<div class="container-fluid top-container bottom-content" id="second-container">
  {% include pricing.html
  blurb="Flexible plans that grow with you"
  smallTitle="Build your business & service your clients – we'll help with the easy* tech bit based on your templates (and ours), but smarter!"
  %}
  <div class="row" style="margin-top: 40px">
    <div class="col-md-9" style="padding-left: 30px">
      <div style="display: inline-block">
	<h2 style="margin-bottom: 0px"><b>Welcome to the Legalese Developer Platform.</b></h2>
	<p style="margin-bottom: 0px">Designed to allow you to connect your applications with the Legalese Services via an API platform.
	  {% include popover.html
	  position="right"
	  title="Test"
	  content="Lorem ipsum, etc."
	  %}
	</p>
	<div class="highlight-border"></div>
      </div>
    </div>
  </div>
  <div class="row row-equal-height" style="min-height: 200px">
    <div class="col-md-2 col-md-offset-1">
      <img class="pricing-logo" src="images/93- hacker-hacking-server.svg">
    </div>
    <div class="col-md-9 picture-padding">
      <h4><b>Transparent Calls-Based Pricing via our APIs</b></h4>
      <div class="highlight-row subscription-box">
	<div style="background: #fff; padding: 10px">
	  <h3 style="margin: 0px"><b>Your Subscription = <sup style="font-weight: 300; color: #929292; font-size: 10px; top: -1.2em">as low as SGD</sup> $165/mo</b></h3>
	</div>
      </div>
      <h4><b>... and then each month, just spend your Subscription Amount on any combination of these calls</b></h4>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-lg-4 col-lg-offset-2 pricing-feature-cols">
      <div class="text-right subscription-box-margins cost-label">
	<p style="margin-top: 10px">PDF Document Generation</p>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$1.49</h3>
	  <p>per generation of</p>
	  <p><b>Standard Document</b></p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$2.49</h3>
	  <p>per generation of</p>
	  <p><b>Complex Document</b></p>
	</div>
      </div>
    </div>
    <div class="col-md-4 text-right col-lg-4 pricing-feature-cols">
      <div class="text-right subscription-box-margins cost-label">
	<p style="margin-top: 10px">MSWord Document Generation</p>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$2.49</h3>
	  <p>per generation of</p>
	  <p><b>Standard Document</b></p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$3.49</h3>
	  <p>per generation of</p>
	  <p><b>Complex Document</b></p>
	</div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-lg-4 col-lg-offset-2 pricing-feature-cols">
      <div class="text-right subscription-box-margins cost-label">
	<p style="margin-top: 10px">Import your templates for API calls</p>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$175</h3>
	  <p>per import of</p>
	  <p><b>Standard Document</b></p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <h3>$275</h3>
	  <p>per import of</p>
	  <p><b>Complex Document</b></p>
	</div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-lg-4 col-lg-offset-2 pricing-feature-cols-long">
      <div class="text-right subscription-box-margins cost-label">
	<p style="margin-top: 10px">Add-ons to supercharge your workflows</p>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-attachment@24x24.svg">
	  <p>Automatic annexures</p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-hierarchy-files@24x24.svg">
	  <p>Multi-step Custom Workflows</p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-monetization-idea@24x24.svg">
	  <p>Insights &amp; Optimisations</p>
	</div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-lg-4 col-lg-offset-2 pricing-feature-cols-long">
      <div class="text-right subscription-box-margins cost-label">
	<p style="margin-top: 10px">&nbsp;</p>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-pie-line-graph@24x24.svg">
	  <p>Real-time queries from ACRA</p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-pen-write-paper@24x24.svg">
	  <p>E-Signature Management</p>
	</div>
      </div>
      <div class="highlight-row subscription-box-margins text-center">
	<div class="subscription-content">
	  <img src="images/streamline-icon-audio-book-art@24x24.svg">
	  <p>Custom Branding &amp; House Styles</p>
	</div>
      </div>
    </div>
  </div>

</div>
