---
layout: default
location: solutions
---
<div class="container-fluid top-container bottom-content" id="second-container">
  {% include pricing.html
  blurb="Flexible plans that grow with you"
  otherPage="individuals-and-enterprises"
  extraMargin="20px"
  checked=true
  %}
  <div class="row" style="margin-top: 40px">
    <div class="col-12 col-sm-8 col-sm-offset-4 col-lg-8 offset-lg-4">
      <h4 style="margin-bottom: 5px"><b>Welcome to the Legalese Developer Platform.</b></h4>
      <p style="margin-bottom: 0px">Designed to allow you to connect your applications with the Legalese Services via an API platform.
    </div>
  </div>
  <div class="row row-equal-height" style="min-height: 200px">
    <div class="col-12 col-sm-4 col-lg-2 offset-lg-2">
      <img class="test-pricing" src="images/93- hacker-hacking-server.svg">
    </div>
    <div class="col-12 col-sm-8" style="margin-bottom: 50px; margin-top: 10px">
      <h3 style="margin-bottom: 0"><b>Transparent Calls-Based Pricing via our APIs</b></h3>
      <div class="highlight-row-purple subscription-box">
	<div style="background: #fff; padding: 10px">
	  <h3 style="margin: 0px"><b>Subscription = <sup style="font-weight: 500; color: #929292; font-size: 10px; top: -1.2em">as low as USD</sup> $165/<span class="small-money">mo</span></b></h3>
	</div>
      </div>
      <h4 class="blurb-spacing">... and then each month, just spend your <a class="footnote">Subscription amount<span style="font-size: 14px">Your subscription amount converts to credits that you can spend on the API calls.<br>(this means that your subscription is just a minimum spend that you have to make each month)</span></a> on any combination of these calls</h4>
      <h4 style="color: blue; margin-top: 5px"><b>based on your templates (and ours)!</b>
      </h4>
      <div class="text-center" style="margin-top: 20px; height: 40px; width: 200px">
	<div class="svg-wrapper-special">
	  <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg"
	       xmlns:xlink="http://www.w3.org/1999/xlink">
	    <rect class="button-shape-special" height="100%" width="100%"/>
	  </svg>
	  <button class="button-text-special" data-toggle="modal" data-target="#formModal"><b>Get started</b></button>
	</div>
      </div>
    </div>
  </div>
  <div class="row highlight-row-special-above">
    <div class="col-12 col-lg-4 api-call-h2">
    <h2><b>API Calls</b>
      {% include popover.html
      customClass="popover-display-inline"
      position="auto right"
      content="<p style='font-size: 12px; margin-bottom: 0px'>All available under your Subscription</p>"
      html=true
      %}      
    </h2>
    </div>

  </div>
  <div class="row highlight-row-special">
    
    <!-- First column -->
    
    <div class="col-lg-6 col-sm-6 col-sm-offset-0 col-12 pricing-features-cols">
      <div class="row">
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="pricing-labels subscription-box-margins">
	      <p style="margin-top: 10px"><b>PDF Document Generation</b></p>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-blue subscription-box-margins text-center">
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $1.<span class="small-money">49</span></h3>
		  <p>per generation of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Standard Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, numeric fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-blue subscription-box-margins text-center">
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $2.<span class="small-money">49</span></h3>
		  <p>per generation of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Complex Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Second column -->
    
    <div class="col-lg-6 col-sm-6 col-sm-offset-0 col-12 pricing-features-cols">      
      <div class="row">
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="pricing-labels subscription-box-margins">	
	      <p style="margin-top: 10px"><b>MSWord Document<br>Generation</b></p>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-purple subscription-box-margins text-center">
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $2.<span class="small-money">49</span></h3>
		  <p>per generation of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Standard Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, numeric fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-purple subscription-box-margins text-center">
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $3.<span class="small-money">49</span></h3>
		  <p>per generation of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Complex Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Third column -->
    
    <div class="col-lg-6 col-sm-6 col-sm-offset-0 col-12 pricing-features-cols" style="margin-bottom: 20px">
      <div class="row">
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="pricing-labels subscription-box-margins">
	      <p style="margin-top: 10px"><b>Import your own templates for API calls</b></p>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-green subscription-box-margins text-center">
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $175</h3>
		  <p>per import of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Standard Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, numeric fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4 col-12 pricing-cols-padding">
	  <div class="pseudo-table-no-border">
	    <div class="highlight-row-green subscription-box-margins text-center">	
	      <div class="subscription-content">
		<div class="subscription-box-center">
		  <h3><span class="pseudo-table-header-price-p">USD</span> $275</h3>
		  <p>per import of</p>
		  <div style="position: relative">
		    <p class="inline-p"><b>Complex Doc</b></p>
		    {% include popover.html
		    customClass="popover-display-custom"
		    position="auto right"
		    content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
		    html=true
		    %}
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  {% include addons.html
  leftLabel=true
  center=false
  lgOffset="offset-lg-0"
  smallCol="col-lg-1"
  largeCol="col-lg-3"
  %}
  {% include formModal.html %}
</div>
