---
layout: default
location: solutions
---
<div class="container-fluid top-container bottom-content" id="second-container">
  {% include pricing.html
  blurb="Choose a plan that's right for you"
  smallTitle="Your templates (and ours), but smarter!"
  otherPage="apis-and-white-label"
  checked=false
  %}
  {% include maingraph.html %}
  {% include onetime.html %}
  <div class="row highlight-row-purple" style="height: 30px; margin-top: 60px">
  </div>
  <div class="row row-equal-height">
    <div class="col-12 col-sm-3">
      <img style="height: 400%" class="optional-logo" src="images/94- spy-male-african-american.svg">
    </div>
    <div class="col-12 col-sm-8">
      <h2><b>Optional add-ons to supercharge your workflows</b></h2>
    </div>
  </div>
  {% include addons.html
  leftLabel=false
  center=true
  smallCol="col-lg-2"
  largeCol="col-lg-2"
  %}
  {% include formModal.html %}
</div>
