---
layout: default
---
<div class="container-fluid top-container bottom-content" id="second-container">
  {% include pricing.html
  blurb="Choose a plan that's right for you"
  smallTitle="Your templates (and ours), but smarter!"
  otherPage="apis-and-white-label"
  checked=false
  %}
  {% include maingraph.html %}
  {% include onetime.html %}
  <div class="row highlight-row-purple" style="height: 30px; margin-top: 60px">
  </div>
  <div class="row row-equal-height">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">      
      <img class="optional-logo" src="images/94- spy-male-african-american.svg">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-6">
      <h2><b>Optional add-ons to supercharge your workflows</b></h2>
    </div>
  </div>
  {% include addons.html
  leftLabel=false
  center=true
  smallCol="col-md-2"
  largeCol="col-lg-2"
  %}
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="Form Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content-form">
	<div class="modal-header text-center form-modal">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="formTitle">Get in touch with us!</h4>
	  <div class="modal-center-circle" style="background-color: #ff002d">
	    <i style="color: white; margin: 0 auto; transform: translateY(90%)" class="fa fa-check fa-2x" aria-hidden="true"></i>
	  </div>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="col-xs-12">
	      <form class="form-horizontal" id="interestForm">
		<div class="form-group">
		  <label for="inputName" class="col-sm-4 control-label">Name:</label>
		  <div class="col-sm-8">
		    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
		  </div>
		</div>
		<div class="form-group">
		  <label for="inputCompanyName" class="col-sm-4 control-label">Name of company:</label>
		  <div class="col-sm-8">
		    <input type="text" class="form-control" id="inputCompanyName" name="inputCompanyName" placeholder="Company Name">
		  </div>
		</div>
		<div class="form-group">
		  <label for="inputServices" class="col-sm-4 control-label">Services interested in:</label>
		  <div class="col-sm-8">
		    <div class="checkbox">
		      <label>
			<input type="checkbox" name="api-checkbox" id="api-checkbox">APIs
		      </label>
		    </div>
		    <div class="checkbox">
		      <label>
			<input type="checkbox" name="white-label-checkbox" id="white-label-checkbox">White label document generation &amp; automation
		      </label>
		    </div>
		  </div>
		</div>
		<div class="form-group">
		  <label for="inputServices" class="col-sm-4 control-label">Preferred form of contact:</label>
		  <div class="col-sm-8">
		    <div class="radio">
		      <label>
			<input type="radio" name="comms-selection" id="comms-email-radio" value="contact-email">Email
		      </label>
		    </div>
		    <div class="radio">
		      <label>
			<input type="radio" name="comms-selection" id="comms-phone-radio" value="contact-phone">Phone call (we'll let you pick a time)
		      </label>
		    </div>
		    <div class="radio">
		      <label>
			<input type="radio" name="comms-selection" id="comms-either-radio" value="contact-either">Either
		      </label>
		    </div>
		  </div>
		</div>
		<div class="form-group" id="commsEmail" style="display: none">
		  <label for="inputEmail" class="col-sm-4 control-label">Email:</label>
		  <div class="col-sm-8">
		    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email">
		  </div>
		</div>
		<div id="commsPhone" style="display: none">
		  <div class="form-group">
		    <label for="inputPhone" class="col-sm-4 control-label">Phone Number:</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" name="inputPhone" id="inputPhone" placeholder="90909090">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputCallTime" class="col-sm-4 control-label">Preferred timings for call:</label>
		    <div class="col-sm-8">
		      <div class="radio">
			<label>
			  <input type="radio" name="weekdays-selection" id="weekdays-radio" value="weekday-call">Weekdays only
			</label>
		      </div>
		      <div id="weekdaysGroup" style="display: none; padding-left: 20px">
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="weekday-call-selection" id="9am-checkbox" value="9am">9am &mdash; 11am
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="weekday-call-selection" id="1pm-checkbox" value="1pm">1pm &mdash; 3pm
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="weekday-call-selection" id="3pm-checkbox" value="3pm">3pm &mdash; 5pm
			  </label>
			</div>
		      </div>
		      <div class="radio">
			<label>
			  <input type="radio" name="weekdays-selection" id="everyday-radio" value="everyday-call">Any day is fine
			</label>
		      </div>
		      <div id="everydayGroup" style="display: none; padding-left: 20px">
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="everyday-call-selection" id="9am-checkbox" value="9am">9am &mdash; 11am
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="everyday-call-selection" id="1pm-checkbox" value="1pm">1pm &mdash; 3pm
			  </label>
			</div>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" name="everyday-call-selection" id="3pm-checkbox" value="3pm">3pm &mdash; 5pm
			  </label>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="form-group">
		  <label for="inputRemarks" class="col-sm-4 control-label">Other remarks</label>
		  <div class="col-sm-8">
		    <textarea class="form-control" rows="3" name="inputRemarks" id="inputRemarks" placeholder="Anything you want us to know/ask about"></textarea>
		  </div>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default" onclick="sendData()" id="contrastButton">Submit form</button>
	</div>
      </div>
    </div>
  </div>
</div>
