<div class="row" style="margin-top: 30px">
  <!-- First column -->

  {% if include.leftLabel %}

  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="pricing-labels subscription-box-margins">
	<div class="subscription-content">
	  <h2 style="margin:0"><b>Addons</b></h2>
	</div>
      </div>
    </div>
  </div>

  {% endif %}

  <!-- Second column -->
  
  <div class="col-md-2 col-sm-2 {% if include.leftLabel %} col-sm-offset-0 {% else %} col-sm-offset-2 {% endif %} col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">
	    <img src="images/streamline-icon-attachment@24x24.svg">
	    <p>Automatic annexures</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-pie-line-graph@24x24.svg">
	    <p>Real-time queries from ACRA</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
  <!-- Third column -->

  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">      
	<div class="subscription-content">
	  <div class="subscription-box-center">		    
	    <img src="images/streamline-icon-hierarchy-files@24x24.svg">
	    <p>Multi-step Custom Workflows</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-pen-write-paper@24x24.svg">
	    <p>E-Signature Management</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
  <!-- Fourth column -->
  
  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">
	    <img src="images/streamline-icon-monetization-idea@24x24.svg">
	    <p>Insights &amp; Optimisations</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-audio-book-art@24x24.svg">
	    <p>Custom Branding &amp; House Styles</p>
	  </div>
	</div>
      </div>
    </div>
  </div>


  <!-- Fifth column -->

  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <a href="https://legalese1.typeform.com/to/ZMkwgQ" target="_blank" class="highlight-row-purple subscription-box-margins text-center tell-us">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-mood-question@24x24.svg">
	    <p style="color: #333">Something else?<br>(Tell us!)</p>
	  </div>
	</div>
      </a>
    </div>
    <div class="pseudo-table-no-border">
      <div class="svg-wrapper-special">
	<svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg"
	     xmlns:xlink="http://www.w3.org/1999/xlink">
	    <rect class="button-shape-special" height="100%" width="100%"/>
	</svg>
	<button class="button-text-special" data-toggle="modal" data-target="#formModal"><b>Get started</b></button>
      </div>

      <!-- <a class="btn btn-default nice-buttons" id="get-started-addons" data-toggle="modal" data-target="#formModal" style="padding: 5px 15px; width: 100%; height: 100%;" href="#" role="button"><p>Get Started</p></a> -->
    </div>
  </div>
</div>
