<div class="row" style="margin-top: 30px">
  <!-- First column -->

  {% if include.leftLabel %}

  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="pricing-labels subscription-box-margins">
	<p style="margin-top: 10px; color: #1fc3c2"><b>Add-ons to supercharge your workflows</b></p>
      </div>
    </div>
  </div>

  {% endif %}

  <!-- Second column -->
  
  <div class="col-md-2 col-sm-2 {% if include.leftLabel %} col-sm-offset-0 {% else %} col-sm-offset-1 {% endif %} col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">
	    <img src="images/streamline-icon-attachment@24x24.svg">
	    <p>Automatic annexures</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-pie-line-graph@24x24.svg">
	    <p>Real-time queries from ACRA</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
  <!-- Third column -->

  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">      
	<div class="subscription-content">
	  <div class="subscription-box-center">		    
	    <img src="images/streamline-icon-hierarchy-files@24x24.svg">
	    <p>Multi-step Custom Workflows</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-pen-write-paper@24x24.svg">
	    <p>E-Signature Management</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
  <!-- Fourth column -->
  
  <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">
	    <img src="images/streamline-icon-monetization-idea@24x24.svg">
	    <p>Insights &amp; Optimisations</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="pseudo-table-no-border">
      <div class="highlight-row-neon-blue subscription-box-margins text-center">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-audio-book-art@24x24.svg">
	    <p>Custom Branding &amp; House Styles</p>
	  </div>
	</div>
      </div>
    </div>
  </div>


  <!-- Fifth column -->

  <div class="col-md-4 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 pricing-features-cols">
    <div class="pseudo-table-no-border">
      <a href="https://legalese1.typeform.com/to/ZMkwgQ" target="_blank" class="highlight-row-purple subscription-box-margins text-center tell-us">
	<div class="subscription-content">
	  <div class="subscription-box-center">			  
	    <img src="images/streamline-icon-mood-question@24x24.svg">
	    <p style="color: #333">Something else?<br>(Tell us!)</p>
	  </div>
	</div>
      </a>
    </div>
    <div class="pseudo-table-no-border">
      <a class="btn btn-default" href="#" role="button">Button</a>
    </div>
  </div>
</div>
