<div class="row" style="margin-top: 20px">
  <div class="col-lg-3 {{include.smallCol}}">
  </div>
  {% if include.leftLabel %}
  <div class="col-md-2 col-lg-2 text-right subscription-box-margins cost-label">
    <p style="margin-top: 10px; color: #20d6d3">Add-ons to supercharge your workflows</p>
  </div>
  {% endif %}
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-attachment@24x24.svg">
      <p>Automatic annexures</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-hierarchy-files@24x24.svg">
      <p>Multi-step Custom Workflows</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-monetization-idea@24x24.svg">
      <p>Insights &amp; Optimisations</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins-large text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-office-file-doc-1@24x24.svg">
      <p>docX exports &amp; downloads</p>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-lg-3 {{include.smallCol}}">
  </div>
  {% if include.leftLabel %}
  <div class="col-md-2 col-lg-2 text-right subscription-box-margins cost-label">
    <p style="margin-top: 10px">&nbsp;</p>
  </div>
  {% endif %}
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-pie-line-graph@24x24.svg">
      <p>Real-time queries from ACRA</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-pen-write-paper@24x24.svg">
      <p>E-Signature Management</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-audio-book-art@24x24.svg">
      <p>Custom Branding &amp; House Styles</p>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 highlight-row-neon-blue subscription-box-margins-large text-center">
    <div class="subscription-content">
      <img src="images/streamline-icon-mood-question@24x24.svg">
      <p>Something else? (Tell us!)</p>
    </div>
  </div>
</div>
