<div class="row larger-font" style="margin-top: 30px">
  <div class="col-12 col-lg-10 offset-lg-1">
    <div class="horizontal-squeeze">
      
      <!-- First column -->
      
      <div class="horizontal-squeeze-child highlight-column-hover" id="first-column" style="width: 27%; border-top: 2px solid transparent">
	<div class="pseudo-table-header">
	  <div id="magic-shift-toggle">
	    <p style="color: #333">What's included?</p>
	    <div style="display: inline-block">
	      <div class="can-toggle demo-rebrand-3" style="--toggleWidth: 200px; --toggleLeft: 0.4; --toggleRight: 0.6; --toggleSwitchWidth: 80px">
		<input id="price-toggle" type="checkbox" checked>
		<label for="price-toggle">
		  <div class="can-toggle__switch" data-checked="Bill yearly (30% off!)" data-unchecked="Bill monthly"></div>
		</label>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="pseudo-table table-row-title table-row-top table-row-top-half" style="border-left: none">
	  <h4 class="table-left-title">
	    {% include popover.html
	    position="auto left"
	    content="<h5 style='display: inline; margin-bottom: 0px'><b>Standard</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>simple variations</p><p style='font-size: 12px; margin-bottom: 0px'>e.g. name, NRIC, dates, formula-derived calculations, address, numeric fields</p>"
	    html=true
	    customId="popover-title"
	    %}	    
	    <b>Standard Document Generation</b>
	  </h4>
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> document(s)</p>
	</div>
	<div class="pseudo-table table-row-title">
	  <p>Price/doc for subsequent generation</p>
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> fields per document</p>
	  {% include popover.html
	  position="auto left"
	  content="thereafter, $0.20/simple field<br>$1/complex field"
	  html=true
	  %}
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> pages per document</p>
	  {% include popover.html
	  position="auto left"
	  content="thereafter, $0.05/page"
	  html=true
	  %}
	</div>
	<div class="pseudo-table table-row-title table-row-top" style="border-left: none">
	  <h4 class="table-left-title">
	    {% include popover.html
	    position="auto left"
	    content="<h5 style='display: inline; margin-bottom: 0px'><b>Complex</b></h5> <em>means</em><br><p style='margin-bottom: 0px'>if/then/else logic</p><p style='font-size: 12px; margin-bottom: 0px'>clause permutations<br>conditional fields</p>"
	    html=true
	    customId="popover-title"
	    %}	    
	    <b>Complex Document Generation</b>
	  </h4>
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> document(s)</p>
	</div>
	<div class="pseudo-table table-row-title">
	  <p>Price/doc for subsequent generation</p>
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> fields per document</p>
	  {% include popover.html
	  position="auto left"
	  content="thereafter, $0.20/simple field<br>$1/complex field"
	  html=true
	  %}
	</div>
	<div class="pseudo-table table-row-title">
	  <p><b>Free</b> pages per document</p>
	  {% include popover.html
	  position="auto left"
	  content="thereafter, $0.20/simple field<br>$1/complex field"
	  html=true
	  %}
	</div>
	<div class="pseudo-table table-row-title">
	  <p>Auto-population of past entity details</p>
	</div>
	<div class="pseudo-table table-row-title">
	  <div>
	    <p class="table-row-title-content-subtitle">Email support</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">3-5 working days</p>
	  </div>
	</div>
	<div class="pseudo-table table-row-title">
	  <div>
	    <p class="table-row-title-content-subtitle">Priority mail support</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">1 working day</p>
	  </div>
	</div>
	<div class="pseudo-table table-row-title">
	  <div>
	    <p class="table-row-title-content-subtitle">Chat Support</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">Telegram/Whatsapp</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">Weekdays 1pm &mdash; 4pm</p>
	  </div>
	</div>
	<div class="pseudo-table table-row-title">
	  <p>Round-the-clock phone &amp; chat support</p>
	</div>		    
      </div>

      <!-- Second column -->

      <div class="horizontal-squeeze-child highlight-column-hover" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header">
	  <p class="pseudo-table-header-price-before">Professional</p>
	  <p class="pseudo-table-header-price-p">USD <span class="pseudo-table-header-price" id="subheader-pro">$1400</span></p>
	  <h6 class="pseudo-table-header-price-h5">per month</h6>
	</div>
	<div class="pseudo-table table-row-top table-row-top-half">
	  <button class="btn btn-default nice-buttons" onClick="getStarted()" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table">
	  <p>2000</p>
	</div>
	<div class="pseudo-table">
	  <p id="substandard-pro">$1.<span class="small-money">74</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>Unlimited</p>
	</div>
	<div class="pseudo-table table-row-top">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p>2000</p>
	</div>
	<div class="pseudo-table">
	  <p id="subcomplex-pro">$2.<span class="small-money">34</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>Unlimited</p>
	</div>
	<div class="pseudo-table">
	  <p>Free</p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>

      </div>

      <!-- Third column -->

      <div class="horizontal-squeeze-child highlight-column-hover" id="third-column" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header">
	  <p class="pseudo-table-header-price-before">Boutique</p>
	  <p class="pseudo-table-header-price-p">USD <span class="pseudo-table-header-price" id="subheader-plus">$18</span></p>
	  <h6 class="pseudo-table-header-price-h5">per month</h6>
	</div>
	<div class="pseudo-table table-row-top table-row-top-half">
	  <button class="btn btn-default nice-buttons" onClick="getStarted()" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table">
	  <p>12</p>
	</div>
	<div class="pseudo-table">
	  <p id="substandard-plus">$1.<span class="small-money">74</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>Unlimited</p>
	</div>
	<div class="pseudo-table table-row-top">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p>10</p>
	</div>
	<div class="pseudo-table">
	  <p id="subcomplex-plus">$2.<span class="small-money">34</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>Unlimited</p>
	</div>
	<div class="pseudo-table">
	  <p>Free</p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p></p>
	</div>
      </div>

      <!-- Fourth column -->

      <div class="horizontal-squeeze-child highlight-column" style="width: 17%">
	<div class="pseudo-table-header" id="recommended-container">
	  <p id="recommended-header">Recommended!</p>
	  <p class="pseudo-table-header-price-before" style="margin-top: 10px">Basic</p>
	  <p class="pseudo-table-header-price-p">USD <span class="pseudo-table-header-price" id="subheader-basic">$11</span></p>
	  <h6 class="pseudo-table-header-price-h5">per month</h6>
	</div>
	<div class="pseudo-table table-row-top table-row-top-half">
	  <button class="btn btn-default nice-buttons" onClick="getStarted()" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table">
	  <p>6</p>
	</div>
	<div class="pseudo-table">
	  <p id="substandard-basic">$2.<span class="small-money">32</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>10</p>
	</div>
	<div class="pseudo-table table-row-top">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p>0</p>
	</div>
	<div class="pseudo-table">
	  <p id="subcomplex-basic">$3.<span class="small-money">12</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>10</p>
	</div>
	<div class="pseudo-table">
	  <p>Free</p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p></p>
	</div>
	<div class="pseudo-table" style="border-bottom: none">
	  <p></p>
	</div>

      </div>

      <!-- Fifth column -->

      <div class="horizontal-squeeze-child highlight-column-hover" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header">
	  <p class="pseudo-table-header-price-before" id="pseudo-table-header-no-rotate">Free Tier / PAYG</p>
	  <h6 style="color: #929292; padding: 0px 5px;" id="monthly-commitments">No monthly commitments</h6>
	</div>
	<div class="pseudo-table table-row-top table-row-top-half">
	  <button class="btn btn-default nice-buttons" onClick="getStarted()" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table">
	  <p>0</p>
	</div>
	<div class="pseudo-table">
	  <p>$2.<span class="small-money">90</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>10</p>
	</div>
	<div class="pseudo-table table-row-top">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p>0</p>
	</div>
	<div class="pseudo-table">
	  <p>$3.<span class="small-money">90</span></p>
	</div>
	<div class="pseudo-table">
	  <p>20</p>
	</div>
	<div class="pseudo-table">
	  <p>10</p>
	</div>
	<div class="pseudo-table">
	  <p>Free</p>
	</div>
	<div class="pseudo-table">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p></p>
	</div>
	<div class="pseudo-table">
	  <p></p>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="magic-shift-toggle-bottom">
  <div class="col-12 col-sm-10 col-sm-offset-1 col-lg-8 offset-lg-2" style="display: relative; margin-top: 10px">
    <div style="display: relative">
      <div class="can-toggle demo-rebrand-3" style="--toggleWidth: 200px; --toggleLeft: 0.4; --toggleRight: 0.6; --toggleSwitchWidth: 80px; margin: 0 auto">
	<input id="price-toggle" type="checkbox">
	<label for="price-toggle">
	  <div class="can-toggle__switch" data-checked="Bill yearly (30% off!)" data-unchecked="Bill monthly"></div>
	</label>
      </div>
    </div>
  </div>
</div>
