<div class="col-6 col-lg-2 {{ include.col }}">
  <div class="news-square">		
    <img src="images/media/1x/{{ include.name }}.png" class="icon-pictures" style="{{ include.fill }}"/>
  </div>
  <p class="media-blue">
    <img src="images/streamline-icon-cloud-download@40x40.svg" class="inline-media"/>
    <a href="images/media/1x/{{ include.name }}.png" target="_blank">1x</a> &bull;
    <a href="images/media/2x/{{ include.name }}@2x.png" target="_blank">2x</a> &bull;
    <a href="images/media/3x/{{ include.name }}@3x.png" target="_blank">3x</a> &bull;
    <a href="images/media/4x/{{ include.name }}@4x.png" target="_blank">4x</a> &bull;
    <a href="images/media/10x/{{ include.name }}@10x.png" target="_blank">10x</a>
  </p>

</div>
