<div class="row row-with-blockquote row-equal-height">
  <div class="col-12 col-sm-2 col-lg-2 offset-lg-2" style="height: 150px">
    <img class="pricing-logo-docs" id="media-logo" src="images/15- mobile-application-language-translation-2.svg">
  </div>
  <div class="col-12 col-lg-8">
    <h2 class="small-centre" style="font-weight: 700;">Legalese Press Room</h2>
    <h5 class="small-centre">if you're a member of the press, please feel free to ping us at: <a class="a-link" href="mailto:press@legalese.com">press@legalese.com</a></h5>
    <div class="founded-block">
      <div class="small-block"><img class="inline-media" style="height: 1.4rem" src="images/pink-neon-transparent.png">Founded in July,<span style="margin-right: 0.3em"> </span>2015</div>
      <div class="small-block"><img id="hq-img" class="inline-media" src="images/streamline-icon-earth-1@16x16.svg">HQ in Singapore</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-2 media-menu">
    <p class="media-list-item {{ include.orig }}" id="news">IN THE NEWS</p><br>
    <p class="media-list-item" id="press">PRESS RELEASES</p><br>
    <p class="media-list-item" id="overview">COMPANY OVERVIEW</p><br>
    <p class="media-list-item" id="bios">MANAGEMENT BIOS</p><br>
    <p class="media-list-item {{ include.assets }}" id="assets">DOWNLOAD MEDIA ASSETS</p><br>
  </div>
  <div class="col-12 col-lg-9">
    <div class="media-jumbo">
      <div class="media-content {{ include.origShow }}" id="news-content">
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-2 offset-lg-0 media-col left-media-col">
	    <h5 class="small-centre">2020</h5>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://www.straitstimes.com/singapore/focus-on-tech-and-the-law-at-new-smu-centre" target="_blank"><img class="news-pictures" src="images/mixkit-girl-leading-a-team-meeting-at-work-543-original.png"/></a>
	    </div>
	    <p class="small-caps">straits times</p>
	    <a class="a-link long" href="https://www.straitstimes.com/singapore/focus-on-tech-and-the-law-at-new-smu-centre" target="_blank">SMU to create a working programming language for law in a first-of-its-kind research</a>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #00fff6" class="news-square">
	      <a href="http://www.globallegalpost.com/big-stories/singapore-government-commits-$11m-to-fund-legal-tech-research-programme-77990850/" target="_blank"><img class="news-pictures" src="images/pink-and-purple-wallpaper-1616403.jpg"/></a>
	    </div>
	    <p class="small-caps">global legal post</p>
	    <a class="a-link long" href="http://www.globallegalpost.com/big-stories/singapore-government-commits-$11m-to-fund-legal-tech-research-programme-77990850/" target="_blank">Singapore government commits $11m to fund legal tech research programme</a>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #fcff07" class="news-square">
	      <a href="https://www.singaporelawwatch.sg/Headlines/focus-on-tech-and-the-law-at-new-smu-centre" target="_blank"><img class="news-pictures" src="images/illuminated-cityscape-against-blue-sky-at-night-316093.jpg"/></a>
	    </div>
	    <p class="small-caps">singapore law watch</p>
	    <a class="a-link long" href="https://www.singaporelawwatch.sg/Headlines/focus-on-tech-and-the-law-at-new-smu-centre" target="_blank">Focus on tech and the law at new SMU centre</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-3 text-center offset-lg-2 media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://govinsider.asia/inclusive-gov/four-things-you-should-know-about-rules-as-code/" target="_blank"><img class="news-pictures" src="images/photo-of-blue-pink-and-green-led-light-775907.jpg"/></a>
	    </div>
	    <p class="small-caps">gov insider</p>
	    <a class="a-link long" href="https://govinsider.asia/inclusive-gov/four-things-you-should-know-about-rules-as-code/" target="_blank">Four things you should know about Rules as Code</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-2 offset-lg-0 media-col left-media-col">
	    <h5 class="small-centre">2019</h5>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://sbr.com.sg/professional-serviceslegal/in-focus/how-singapore-bringing-legal-industry-digital-age" target="_blank"><img class="news-pictures" src="images/mixkit-view-of-a-night-sky-in-the-city-139-original.png"/></a>
	    </div>
	    <p class="small-caps">singapore business review</p>
	    <a class="a-link long" href="https://sbr.com.sg/professional-serviceslegal/in-focus/how-singapore-bringing-legal-industry-digital-age" target="_blank">How Singapore is bringing the legal industry into the digital age</a>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #00fff6" class="news-square">
	      <a href="https://www.thetechnolawgist.com/2019/05/24/gdpr-a-year-in-review/" target="_blank"><img class="news-pictures" src="images/pink-black-and-yellow-abstract-painting-2911521.jpg"/></a>
	    </div>
	    <p class="small-caps">the technolawgist</p>
	    <a class="a-link long" href="https://www.thetechnolawgist.com/2019/05/24/gdpr-a-year-in-review/" target="_blank">GDPR: a year in review</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-2 offset-lg-0 media-col left-media-col">
	    <h5 class="small-centre">2018</h5>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://lawtech.asia/quick-chats-alexis-chun-legalese/" target="_blank"><img class="news-pictures" src="images/mixkit-person-arranging-a-series-of-designs-on-an-office-wall-28-original.png"/></a>
	    </div>
	    <p class="small-caps">lawtech.asia</p>
	    <a class="a-link long" href="https://lawtech.asia/quick-chats-alexis-chun-legalese/" target="_blank">TechLaw.Fest Quick Chats: Alexis Chun, Legalese</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-2 offset-lg-0 media-col left-media-col">
	    <h5 class="small-centre">2017</h5>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://www.vantageasia.com/legal-begets-ai/" target="_blank"><img class="news-pictures" src="images/abstract-wallpaper-2860804.jpg"/></a>
	    </div>
	    <p class="small-caps">asia business law journal</p>
	    <a class="a-link long" href="https://www.vantageasia.com/legal-begets-ai/" target="_blank">Legal begets AI</a>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #00fff6" class="news-square">
	      <a href="https://www.theedgesingapore.com/state-city/lawyers-may-need-tech-skills-ai-changes-nature-legal-industry" target="_blank"><img class="news-pictures" src="images/mixkit-person-overwhelmed-by-a-mountain-of-paperwork-70-original.png"/></a>
	    </div>
	    <p class="small-caps">the edge</p>
	    <a class="a-link long" href="https://www.theedgesingapore.com/state-city/lawyers-may-need-tech-skills-ai-changes-nature-legal-industry" target="_blank">Lawyers may need tech skills as AI changes nature of legal industry</a>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col">
	    <div style="border-color: #fcff07" class="news-square">
	      <a href="https://www.legalbusinessonline.com/sites/default/files/e-magazines/ASIAN-LEGAL-BUSINESS-MARCH-2017/0C1A182455A6D29A7734A611D5BD4D64/alb-march-2017.pdf" target="_blank"><img class="news-pictures" src="images/multicolored-abstract-art-2065820.jpg"/></a>
	    </div>
	    <p class="small-caps">asian legal business</p>
	    <a class="a-link long" href="https://www.legalbusinessonline.com/sites/default/files/e-magazines/ASIAN-LEGAL-BUSINESS-MARCH-2017/0C1A182455A6D29A7734A611D5BD4D64/alb-march-2017.pdf" target="_blank">Startup Talk: Legalese</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-3 offset-lg-2 text-center media-col">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://www.techinasia.com/singapore-legalese-audacious-goal-to-create-a-programming-language-for-the-legal-industry" target="_blank"><img class="news-pictures" src="images/brown-framed-light-bulb-745708.jpg"/></a>
	    </div>
	    <p class="small-caps">techinasia</p>
	    <a class="a-link long" href="https://www.techinasia.com/singapore-legalese-audacious-goal-to-create-a-programming-language-for-the-legal-industry" target="_blank">Singapore startup’s audacious goal to create a programming language for the legal industry</a>
	  </div>
	</div>
	<div class="row row-equal-height">
	  <div class="col-10 offset-1 col-lg-2 offset-lg-0 media-col left-media-col">
	    <h5 class="small-centre">2016</h5>
	  </div>
	  <div class="col-10 offset-1 col-lg-3 offset-lg-0 text-center media-col" style="padding-bottom: 50px;">
	    <div style="border-color: #ffa382" class="news-square">
	      <a href="https://www.artificiallawyer.com/2016/07/29/al-interview-software-is-eating-law-legalese-com/" target="_blank"><img class="news-pictures" src="images/ace-bet-business-card-262333.jpg"/></a>
	    </div>
	    <p class="small-caps">artificial lawyer</p>
	    <a class="a-link long" href="https://www.artificiallawyer.com/2016/07/29/al-interview-software-is-eating-law-legalese-com/" target="_blank">AL Interview: Software is Eating Law – Legalese.com</a>
	  </div>
	</div>
      </div>
      
      <div class="media-content" id="overview-content">
	{% include aboutinc.html
	extraPadding="20px"
	%}
      </div>
      
      <div class="media-content" id="bios-content">
	{% include teaminc.html
	loc="media"
	mediaCol="col-12"
	teamCol="col-12 col-lg-6 offset-lg-3"
	%}
      </div>

      <div class="media-content" id="press-content">
	<div class="row row-equal-height" style="padding-top: 20px;">
	  <div class="col-12 col-lg-10 offset-lg-1">
	    <p class="press-release" style="padding-bottom: 0"><span style="margin-right: 0.5em; font-weight: 700">March 2020</span>  SGD15M Industry-Alignment Grant:  Legalese & Singapore Management University</p>
	    <ul style="border-left: 5px solid #ff2f9f; margin-bottom: 0">
	      <li>
		Joint Press Release (University) <a href="https://drive.google.com/file/d/1imt73v5uAxf-ExgWVtrp_4894xVczJ6w/view?usp=sharing" target="_blank"><img src="images/streamline-icon-office-file-pdf-1@40x40.svg" class="inline-media-small inline-media-left"/></a>
	      </li>
	      <li>
		Legalese Press Release <a href="https://drive.google.com/file/d/1CbKqqWvEe8YoivqO4c1Zo5JSV5cAJtYw/view?usp=sharing" target="_blank"><img src="images/streamline-icon-office-file-pdf-1@40x40.svg" class="inline-media-small inline-media-left"/></a>		    
	      </li>
	    </ul>
	    <p class="press-release"><span style="margin-right: 0.5em; font-weight: 700">January 2017</span>  Legalese secures SGD600,000 to automate legal services <a href="https://drive.google.com/file/d/0BxUwY-mTI-hrZDVQeDM3WEQ3MzA/view?usp=sharing" target="_blank"><img src="images/streamline-icon-office-file-pdf-1@40x40.svg" class="inline-media-small inline-media-left"/></a></p>
	    <p class="press-release"><span style="margin-right: 0.5em; font-weight: 700">August 2016</span>  Legalese receives AUD30K ISIF.Asia Technical Innovation Grant <a href="https://drive.google.com/file/d/0BxUwY-mTI-hrSDNNeTFqbEFwMkE/view?usp=sharing" target="_blank"><img src="images/streamline-icon-office-file-pdf-1@40x40.svg" class="inline-media-small inline-media-left"/></a></p>
	    <p class="press-release"><span style="margin-right: 0.5em; font-weight: 700">July 2016</span>  Legalese receives USD8888 String Grant to stop bugs in smart contracts before they start <a href="https://drive.google.com/file/d/0BxUwY-mTI-hrU3dyMWhfaWJaOE0/view?usp=sharing" target="_blank"><img src="images/streamline-icon-office-file-pdf-1@40x40.svg" class="inline-media-small inline-media-left"/></a></p>
	  </div>
	</div>
      </div>
      
      <div class="media-content {{ include.assetsShow }}" id="assets-content">
	<div class="row row-equal-height" style="padding-top: 50px;">
	  <div class="col-12 col-lg-10 offset-lg-1">
	    <h3 class="small-centre"><b>Legalese Media Assets & Usage</b></h3>
	    <p>We’ve put together some assets for those times when you want to show off your Legalese integrations or link back to us. Happy shipping!</p>
	  </div>
	</div>

	<div class="row row-equal-height top-margin-large">
	  <div class="col-12 col-lg-5 offset-lg-1">
	    <h4 class="small-centre">Do these awesome things</h4>
	    <ul class="fancy-community">
	      <li class="tick-li">Use the Legalese media assets to link to <b>our</b> page or products</li>
	      <li class="tick-li">Use the Legalese media assets to indicate that your product has built-in Legalese integration</li>
	      <li class="tick-li">Use the Legalese media assets in a blog post or news article about Legalese</li>
	    </ul>
	  </div>
	  <div class="col-12 col-lg-5">
	    <h4 class="small-centre">Please don't do these things</h4>
	    <ul class="fancy-community">
	      <li class="cross-li">Use the Legalese media assets for your application’s icon</li>
	      <li class="cross-li">Create a modified version of the Legalese media assets</li>
	      <li class="cross-li">Integrate the Legalese media assets into your logo</li>
	      <li class="cross-li">Use any Legalese artwork without permission</li>
	      <li class="cross-li">Sell any Legalese artwork without permission</li>
	      <li class="cross-li">Change the colors, dimensions or add your own text/images</li>
	    </ul>
	  </div>
	</div>

	<div class="row row-equal-height top-margin-large">
	  <div class="col-12 col-lg-5 offset-lg-1">
	    <h4 class="small-centre">Please ask us for permission <span style="font-size: 1rem">(<a class="a-link" href="mailto:press@legalese.com">press@legalese.com</a>)</span></h4>
	    <ul>
	      <li>If you want to use artwork not included in this asset page</li>
	      <li>If you want to use these images in a video/mainstream media</li>
	    </ul>
	  </div>
	  <div class="col-12 col-lg-5">
	    <h4 class="small-centre">Naming projects and products</h4>
	    <p>Please avoid naming your projects anything that implies Legalese’s endorsement. This also applies to domain names.</p>
	  </div>
	</div>

	<div class="row row-equal-height top-margin-large">
	  <div class="col-12 col-lg-5 offset-lg-1">
	    <h4 class="small-centre">Legal</h4>
	    <p>In short, the Legalese media assets represent only Legalese and should not be used to represent your products. You may also read the assets' <a href="#" class="a-link" data-toggle="modal" data-target="#termsModal">official legal terms</a>, if you're into that.</p>
	  </div>
	</div>


	<div class="row row-equal-height name-col">
	  <div class="col-12 col-lg-11 offset-lg-1">
	    <h6 class="small-centre"><span class="yellow-span">Name &amp; Symbol</span></h6>
	  </div>
	</div>

	<div class="row row-equal-height text-center">
	  <div class="col-6 col-lg-2 offset-lg-1">
	    <div class="news-square">		
	      <img src="images/legalesedotcom-bold.png" class="icon-pictures"/>
	    </div>
	    <p class="small-caps">black on clear</p>
	    <p class="media-gray">
	      <img src="images/streamline-icon-download-bottom@40x40.svg" class="inline-media"/>
	      <a class="a-link" href="images/legalesedotcom-bold.png" target="_blank">1x</a>
	    </p>	      
	  </div>
	  
	  {% include media-icons.html
	  name="legalesesoftware-bolditalic"
	  title="black on clear"
	  %}
	  {% include media-icons.html
	  name="legalesesoftware-regular"
	  title="black on clear"
	  %}

	  <div class="col-6 col-lg-2">
	    <div class="news-square" style="background-color: lightgray">		
	      <img src="images/legaleselogo-whiteonclear.png" class="icon-pictures"/>
	    </div>
	    <p class="small-caps">white on clear</p>
	    <p class="media-gray">
	      <img src="images/streamline-icon-download-bottom@40x40.svg" class="inline-media"/>
	      <a class="a-link" href="images/legaleselogo-whiteonclear.png" target="_blank">1x</a>
	    </p>	      
	  </div>

	</div>
	
	<div class="row row-equal-height" style="margin: 10px 0px 0px 0px">
	  <div class="col-12 col-lg-11 offset-lg-1">
	    <h6 class="small-centre"><span class="yellow-span">Symbol only (transparent background)</span></h6>
	  </div>
	</div>
	
	<div class="row row-equal-height text-center">
	  {% include media-icons.html
	  col="offset-lg-1"
	  name="legaleselogo-blueonclear"
	  title="blue on clear"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-pinkonclear"
	  title="pink on clear"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-greenonclear"
	  title="green on clear"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-yellowonclear"
	  title="yellow on clear"
	  %}
	</div>

	<div class="row row-equal-height" style="margin: 10px 0px 0px 0px">
	  <div class="col-12 col-lg-11 offset-lg-1">
	    <h6 class="small-centre"><span class="yellow-span">Symbol only (dark background)</span></h6>
	  </div>
	</div>

	<div class="row row-equal-height text-center">
	  {% include media-icons.html
	  col="offset-lg-1"
	  name="legaleselogo-blueonblack"
	  fill="object-fit: fill"
	  title="blue on black"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-pinkonnavy"
	  fill="object-fit: fill"
	  title="pink on navy"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-greenonnavy"
	  fill="object-fit: fill"
	  title="green on navy"
	  %}
	  {% include media-icons.html
	  name="legaleselogo-yellowonnavy"
	  fill="object-fit: fill"
	  title="yellow on navy"
	  %}
	  <div class="col-6 col-lg-2">
	    <div class="news-square">		
	      <img src="images/legaleselogo-whiteongrey.png" class="icon-pictures" style="object-fit: fill"/>
	    </div>
	    <p class="small-caps">white on grey</p>
	    <p class="media-gray">
	      <img src="images/streamline-icon-download-bottom@40x40.svg" class="inline-media"/>
	      <a class="a-link" href="images/legaleselogo-whiteongrey.png" target="_blank">1x</a>
	    </p>	      
	  </div>	    
	</div>
	<div class="row row-equal-height" style="margin: 10px 0px 0px 0px">
	  <div class="col-12 col-lg-11 offset-lg-1">
	    <h6 class="small-centre"><span class="yellow-span">Our tongue-in-cheek sticker print</span></h6>
	  </div>
	</div>

	<div class="row row-equal-height text-center">
	  <div class="col-6 col-lg-2 offset-lg-1">
	    <div class="news-square">		
	      <img src="images/legalesesoftware-quaint.png" class="icon-pictures" style="object-fit: fill"/>
	    </div>
	    <p class="small-caps">black on clear</p>
	    <p class="media-gray">
	      <img src="images/streamline-icon-download-bottom@40x40.svg" class="inline-media"/>
	      <a class="a-link" href="images/legalesesoftware-quaint.png" target="_blank">1x</a>
	    </p>	      
	  </div>
	</div>

	<div class="modal fade" id="termsModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="background-color: white">
	      <div class="modal-header">
		Legalese Media Assets
		<button type="button" data-dismiss="modal" aria-label="Close" id="termsModalClose">
		  <span aria-hidden="true" style="color: blue; font-weight: 700; font-size: 20px">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		<p>The design of the Legalese Media Assets are exclusive trademarks of Legalese Pte. Ltd.</p>
		<p>No adaptation or use of any kind of any of our trademarks or copyrights, or any other contents of this website, is allowed without the express written permission of Legalese Pte. Ltd.</p>
		<p>For more information regarding the authorised uses of these items please contact us at <a class="a-link" href="mailto:press@legalese.com">press@legalese.com</a>. For full terms, please read our <a href="terms.html" target="_blank" class="a-link">Terms of Use</a>.</p>
	      </div>
	    </div>
	  </div>
	</div>

      </div>	
    </div>
  </div>
</div>
