<div class="row" style="margin-top: 30px">
  <div class="col-md-10 col-md-offset-1">
    <h2>One-time setup and onboarding</h2>
    <div class="table-responsive">
      <table class="table">
	<thead>
	  <tr>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	    </th>
	    <th class="table-col-width table-header-fixed table-col-center" style="vertical-align: top">
	      <h5>Full-Service Setup</h5>
	    </th>
	    <th class="table-col-width table-header-fixed table-col-center" style="vertical-align: top">
	      <h5>Boutique Setup</h5>
	    </th>
	    <th class="table-col-width table-header-fixed table-col-center" style="vertical-align: top">
	      <h5>Simple Setup</h5>
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td style="text-align: right">One-time setup fee</td>
	    <td class="table-col-center">$25,000</td>
	    <td class="table-col-center">$2,900</td>
	    <td class="table-col-center">$2,500</td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <p class="paragraph-small-margin">Personalised web-application setup for your organisation</p>
	      <p class="paragraph-small-margin" style="font-size: 10px">private access on Legalese.com</p>
	    </td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	  </tr>
	  <tr>
	    <td style="text-align: right">User Onboard & Dashboard Setup</td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <p class="paragraph-small-margin">Group Training</p>
	      <p class="paragraph-small-margin" style="font-size: 10px">1 session, booked separately</p>
	    </td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <p class="paragraph-small-margin">On-site coaching &amp; onboard assistance</p>
	      <p class="paragraph-small-margin" style="font-size: 10px">5 sessions</p>
	    </td>
 	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: right">
	      <p class="paragraph-small-margin">Customised branding &amp; house styles</p>
	      <p class="paragraph-small-margin" style="font-size: 10px">logo, letterhead, selected font stylings</p>
	    </td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td class="blue-check table-col-center"><i class="fa fa-check" aria-hidden="true"></i></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: right"># of free document imports <b>(standard)</b></td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin" style="font-size: 10px; color: blue">(worth $12,500)</p>
	      <p class="paragraph-small-margin">25</p>
	    </td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin" style="font-size: 10px; color: blue">(worth $1,500)</p>
	      <p class="paragraph-small-margin">3</p>
	    </td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin" style="font-size: 10px; color: blue">(worth $500)</p>
	      <p class="paragraph-small-margin">1</p>
	    </td>
	  </tr>
	  <tr>
	    <td style="text-align: right"># of free document imports <b>(complex)</b></td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin" style="font-size: 10px; color: blue">(worth $25,000)</p>
	      <p class="paragraph-small-margin">25</p>
	    </td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin" style="font-size: 10px; color: blue">(worth $3,000)</p>
	      <p class="paragraph-small-margin">3</p>
	    </td>
	    <td class="table-col-center">
	      <p class="paragraph-small-margin">0</p>
	    </td>
	  </tr>

	</tbody>
      </table>
    </div>
  </div>
</div>
