<div class="row larger-font" style="margin-top: 20px">
  <div class="col-md-12 col-lg-10 col-lg-offset-1" style="padding-left: 4em">
    <h2>One-time setup and onboarding</h2>
  </div>
</div>
<div class="row larger-font">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div class="horizontal-squeeze">

      <!-- First column -->
      
      <div class="horizontal-squeeze-child" id="first-column" style="width: 27%; border-top: 2px solid transparent">
	<div class="pseudo-table-header pseudo-table-header-no-padding">
	  <p></p>
	</div>
	<div class="pseudo-table-tall table-row-title table-row-top" style="border-left: none">
	  <p>One-time setup fee</p>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <p>Personalised web-application setup for your organisation</p>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <p>User Onboard & Dashboard Setup</p>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle">Group Training</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">1 session, booked separately</p>
	  </div>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle">Customised branding &amp; house styles</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">logo, letterhead, selected font stylings</p>
	  </div>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle">On-site coaching &amp; onboard assistance</p>
	    <p class="table-row-title-content-subtitle" style="font-size: 10px">5 sessions</p>
	  </div>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <p># of free document imports <b>(standard)</b></p>
	</div>
	<div class="pseudo-table-tall table-row-title">
	  <p># of free document imports <b>(complex)</b></p>
	</div>
      </div>

      <!-- Second column -->
      
      <div class="horizontal-squeeze-child" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header pseudo-table-header-no-padding">
	  <p>Professional Setup</p>
	  <p style="color: #929292; margin-bottom: 0">SGD <span class="pseudo-table-header-price">$25,000</span></p>
	  <h5 style="color: #929292; margin: 0">one-time</h5>
	</div>
	<div class="pseudo-table-tall table-row-top">
	  <button class="btn btn-default nice-buttons" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle" style="font-size: 12px; color: blue">(worth $12,500)</p>
	    <p class="table-row-title-content-subtitle">25</p>
	  </div>
	</div>
	<div class="pseudo-table-tall">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle" style="font-size: 12px; color: blue">(worth $25,000)</p>
	    <p class="table-row-title-content-subtitle">25</p>
	  </div>
	</div>
      </div>

      <!-- Third column -->

      <div class="horizontal-squeeze-child" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header pseudo-table-header-no-padding">
	  <p>Boutique Setup</p>
	  <p style="color: #929292; margin-bottom: 0">SGD <span class="pseudo-table-header-price">$2,900</span></p>
	  <h5 style="color: #929292; margin: 0">one-time</h5>
	</div>
	<div class="pseudo-table-tall table-row-top">
	  <button class="btn btn-default nice-buttons" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p></p>
	</div>
	<div class="pseudo-table-tall">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle" style="font-size: 12px; color: blue">(worth $1,500)</p>
	    <p class="table-row-title-content-subtitle">3</p>
	  </div>
	</div>
	<div class="pseudo-table-tall">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle" style="font-size: 12px; color: blue">(worth $3,000)</p>
	    <p class="table-row-title-content-subtitle">3</p>
	  </div>
	</div>
      </div>

      <!-- Fourth column -->
      
      <div class="horizontal-squeeze-child" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header pseudo-table-header-no-padding">
	  <p>Basic Setup</p>
	  <p style="color: #929292; margin-bottom: 0">SGD <span class="pseudo-table-header-price">$2,500</span></p>
	  <h5 style="color: #929292; margin: 0">one-time</h5>
	</div>
	<div class="pseudo-table-tall table-row-top">
	  <button class="btn btn-default nice-buttons" type="button" data-toggle="modal" data-target="#formModal">Get Started</button>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p><i class="fa fa-check blue-check" aria-hidden="true"></i></p>
	</div>
	<div class="pseudo-table-tall">
	  <p></p>
	</div>
	<div class="pseudo-table-tall">
	  <p></p>
	</div>
	<div class="pseudo-table-tall">
	  <p></p>
	</div>
	<div class="pseudo-table-tall">
	  <div class="table-row-title-content">
	    <p class="table-row-title-content-subtitle" style="font-size: 12px; color: blue">(worth $500)</p>
	    <p class="table-row-title-content-subtitle">1</p>
	  </div>
	</div>
	<div class="pseudo-table-tall">
	  <p>0</p>
	</div>

      </div>

      <!-- Fifth column -->

      <div class="horizontal-squeeze-child" style="width: 17%; border-top: 2px solid transparent">
	<div class="pseudo-table-header pseudo-table-header-no-padding">
	  <p></p>
	</div>
      </div>
    </div>
  </div>
</div>
