<div class="row larger-font" style="margin-top: 30px">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h2>Add-ons</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
	<thead>
	  <tr>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	    </th>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	      <h5 style="margin-bottom: 0px">Pro</h5>
	      <p>customers</p>
	    </th>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	      <h5 style="margin-bottom: 0px">Plus</h5>
	      <p>customers</p>
	    </th>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	      <h5 style="margin-bottom: 0px">Basic</h5>
	      <p>customers</p>
	    </th>
	    <th class="table-col-width table-header-fixed" style="vertical-align: top">
	      <h5 style="margin-bottom: 0px">Pay as you go</h5>
	      <p>(no monthly commitments)</p>
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td class="table-row-title" style="text-align: right;">Additional users</td>
	    <td colspan="4" class="text-center">$5 each additional user/month</td>
	  </tr>
	  <tr>
	    <td class="table-row-title" colspan="5" style="border-right: none; border-left: none">
	      <h5 style="display: inline"><b>Importing of Each New Document Template</b> (whitelabel)</h5>
	    </td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Standard doc</td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(50% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$250</p>
	    </td>
	    <td class="table-col-width dollar-font">$500</td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Complex doc</td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$100</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$100</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(50% off PAYG)</p>
	      <p class="paragraph-small-margin dollar-font">$500</p>
	    </td>
	    <td class="table-col-width dollar-font">$1000</td>
	  </tr>
	  <tr>
	    <td class="table-row-title" colspan="5" style="border-right: none; border-left: none">
	      <h5 style="display: inline"><b>Available add-ons for each document</b></h5>
	    </td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Automatic appending of annexes</td>
	    <td colspan="3" class="text-center dollar-font">$2.50 <span style="font-size: 12px">per document, not per annex (up to 5 annexes)</span>
	    </td>
	    <td class="table-col-width dollar-font">$3 <span style="font-size: 12px">per document, not per annex (up to 5 annexes)</span>
	    </td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Each additional annex per document</td>
	    <td colspan="4" class="text-center dollar-font">$1</td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Real-time data query &amp; field population from ACRA database</td>
	    <td colspan="4" class="text-center dollar-font">$5 <span style="font-size: 12px">per document</span></td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">Re-use of cached data from past ACRA queries</td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	  </tr>	    
	  <tr>
	    <td class="table-col-width" style="text-align: right">In-app PDF to Word convert</td>
	    <td colspan="3" class="text-center dollar-font">$2 <span style="font-size: 12px">per document</span></td>
	    <td class="table-col-width dollar-font">$3 <span style="font-size: 12px">per document</span></td>
	  </tr>	    
	  <tr>
	    <td class="table-col-width" style="text-align: right">In-app file recovery & storage of generated docs <b>(30 days)</b></td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	    <td class="table-col-width">Free</td>
	  </tr>	    
	  <tr>
	    <td class="table-col-width" style="text-align: right">In-app file recovery & storage of generated docs <b>(90 days)</b></td>
	    <td colspan="4" class="text-center dollar-font">$30</td>
	  </tr>	    
	  <tr>
	    <td class="table-row-title" colspan="5" style="border-right: none; border-left: none">
	      <h5><b>Workflow Setup &amp; Management</b></h5>
	      <p class="paragraph-small-margin">i.e.  whole suite of documents to be sent in a particular order, to particular people, dated by particular details <span style="fontsize: 12px">(e.g. once 50% have signed)</span>, with logic & conditionals built into the document itself and in its interactions with other documents</p>
	      <p class="paragraph-small-margin">e.g.  AGMs, EGMs, Share Issuance, Fundraising </p>
	    </td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">
	      <p class="paragraph-small-margin">Workflow logic set-up &amp; computational checking</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">one time setup fee for each workflow</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(50% off)</p>
	      <p class="paragraph-small-margin dollar-font">$250</p>
	    </td>
	    <td class="table-col-width dollar-font">$500</td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">
	      <p class="paragraph-small-margin dollar-font">Workflow logic set-up &amp; computational checking</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">one time setup fee for each workflow</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(90% off)</p>
	      <p class="paragraph-small-margin dollar-font">$50</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin" style="font-size: 12px; color: blue">(50% off)</p>
	      <p class="paragraph-small-margin dollar-font">$250</p>
	    </td>
	    <td class="table-col-width dollar-font">$500</td>
	  </tr>
	  <tr>
	    <td class="table-col-width" style="text-align: right">
	      <p class="paragraph-small-margin">Workflow execution &amp; dashboard tracking</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">(no signature management)</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin dollar-font">$0.10</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">per workflow</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin dollar-font">$0.20</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">per workflow</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin dollar-font">$0.30</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">per workflow</p>
	    </td>
	    <td class="table-col-width">
	      <p class="paragraph-small-margin dollar-font">$0.30</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">per workflow</p>
	    </td>
	  </tr>	    
	  <tr>
	    <td class="table-col-width" style="text-align: right">
	      <p class="paragraph-small-margin">e-signature management</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">via AdobeSign / HelloSign / DocuSign or equivalent</p>
	    </td>
	    <td colspan="4" class="text-center">
	      <p class="paragraph-small-margin dollar-font">$3</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">per document in workflow</p>
	      <p class="paragraph-small-margin" style="font-size: 12px">unlimited signatures per document</p>
	    </td>
	</tbody>
      </table>
    </div>
  </div>
</div>
