<div class="row" style="margin-top: {{include.extraMargin}}">
  <div class="col-12 col-sm-8 col-sm-offset-4 col-lg-5 offset-lg-4 offset-lg-5 col-lg-4">
    <h4 style="font-weight: 700; margin-bottom: 10px; margin-top: 10px">{{include.smallTitle}}</h4>
  </div>
</div>
<div class="row highlight-row-purple row-equal-height">
  <div class="col-12 col-sm-4 col-lg-5">
    <img class="api-pricing" src="images/18- team-idea-brainstorm-2.svg">
  </div>
  <div class="col-12 col-sm-8 col-lg-7">
    <h3 style="color: #fff; font-weight: 700">{{include.blurb}}</h3>
    <div class="horizontal-squeeze" style="margin-bottom: 10px; max-width: 400px">
      <div class="horizontal-squeeze-child" style="margin-right: 1em">
	<p style="color: white;">We offer</p>
      </div>
      <div class="horizontal-squeeze-child">
	<div class="can-toggle demo-rebrand-1" style="--toggleWidth: 320px; --toggleLeft: 0.5; --toggleRight: 0.5; --toggleSwitchWidth: 160px; display: inline-block">
	  <input id="service-toggle" type="checkbox" onclick="window.location='./{{include.otherPage}}.html'"
		 {% if include.checked %}
		 checked
		 {% endif %}>
	  <label for="service-toggle">
	    <div class="can-toggle__switch"
		 data-checked="APIs/White Label Services"
		 data-unchecked="Individual & Enterprise"></div>
	  </label>
	</div>
      </div>
    </div>
  </div>
</div>

