<div class="row row-equal-height">
  <div class="col-md-6 col-md-offset-3">
    <div class="row row-equal-height">
      <div class="col-md-3">
	<img class="pricing-logo" src="images/undraw_editable_dywm.svg">
      </div>
      <div class="col-md-9">
	<h3>Your templates (and ours), but smarter!</h3>
	<h2>Choose a plan that's right for you</h2>
	<p class="{{include.choiceClassIndividual}}">Individual &amp; Enterprise</p>
	<p class="{{include.choiceClassApi}}">APIs/White Label Services</p>
      </div>
    </div>
  </div>
</div>
