<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-4 col-md-8 col-md-offset-4">
	<h3 style="font-weight: 700">{{include.smallTitle}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row highlight-row-purple">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-4 col-md-8 col-md-offset-4">
	<h2 style="color: #fff; font-weight: 700">{{include.blurb}}</h2>
      </div>
    </div>
    <div class="row row-equal-height">      
      <div class="col-xs-4 col-md-4">
	<img class="pricing-logo" src="images/18- team-idea-brainstorm-2.svg">
      </div>
      <div class="col-xs-1 col-md-1" style="width: 80px; padding: 0 0 0 15px">
	<p style="color: white">We offer</p>
      </div>
      <div class="col-xs-6 col-md-6">
	<div class="can-toggle demo-rebrand-1" style="--toggleWidth: 320px; --toggleLeft: 0.5; --toggleRight: 0.5; --toggleSwitchWidth: 160px; margin-bottom: 10px">
	  <input id="service-toggle" type="checkbox" onclick="window.location='./{{include.otherPage}}.html'"
		 {% if include.checked %}
		 checked
		 {% endif %}>
	  <label for="service-toggle">
	    <div class="can-toggle__switch"
		 data-checked="APIs/White Label Services"
		 data-unchecked="Individual & Enterprise"></div>
	  </label>
	</div>
      </div>
    </div>
  </div>
</div>

