{% if include.loc %}
<div class="row team-row" style="padding: 50px 0px">
  <div class="col-12">
    <img src="images/streamline-icon-road-sign-oneway-right@40x40.svg" class="inline-media" style="height: 3rem;"/><a class="a-link" target="_blank" href="https://docs.google.com/document/d/1kiniHZiktijp4M4VgdBD0q3ia5OZR4NDLxSj0bsCqKk/edit?usp=sharing">feel free to head on to the Google Doc where all the info can be easily copied & pasted</a>
    <div style="color: gray; font-size: 0.8rem">(opens in a new tab)</div>
  </div>
</div>
{% endif %}
<div class="row team-row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="flipcard text-center">
      <div class="prof-link" data-toggle="modal" data-target="#MengModal"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="frontcard">
	<img src="images/team/mengfront.jpg" class="card-pictures" data-toggle="modal" data-target="#MengModal">
      </div>
      <div class="backcard">
	<video class="card-pictures" src="images/team/mengback.mp4" data-toggle="modal" data-target="#MengModal" autoplay loop muted playsinline></video>
      </div>
      <p><b><span style="text-decoration: underline">Wong</span> Meng Weng</b><br>
	Cofounder / Computer Scientist<br>
	CTO</p>
      {% if include.loc %}
      <div class="flipcard-links">
	<p class="p-no-bottom"><img src="images/streamline-icon-social-media-twitter@40x40.svg" class="inline-media"/><a class="a-link" href="https://twitter.com/mengwong" target="_blank">twitter.com/mengwong</a></p>
	<p class="p-no-bottom"><img src="images/streamline-icon-professional-network-linkedin@40x40.svg" class="inline-media"/><a class="a-link" href="https://www.linkedin.com/in/mengwong/" target="_blank">linkedin.com/in/mengwong/</a></p>	
	<p class="p-no-bottom"><img src="images/streamline-icon-download-circle@40x40.svg" class="inline-media"/><a class="a-link" href="images/team/mengfront.jpg" target="_blank">download headshot</a></p>	
      </div>
      {% endif %}
    </div>

    <div class="flipcard text-center">
      <div class="prof-link" data-toggle="modal" data-target="#AlexisModal"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="frontcard">
	<img src="images/team/alexisfront.jpg" class="card-pictures" data-toggle="modal" data-target="#AlexisModal">
      </div>
      <div class="backcard">
	<video class="card-pictures" src="images/team/alexisback.mp4" data-toggle="modal" data-target="#AlexisModal" autoplay loop muted playsinline></video>
      </div>
      <p><b>Alexis Natalie <span style="text-decoration: underline">Chun</span></b><br>
	Cofounder / Recovering Lawyer<br>
	CEO</p>
      {% if include.loc %}
      <div class="flipcard-links">
	<p class="p-no-bottom"><img src="images/streamline-icon-social-media-twitter@40x40.svg" class="inline-media"/><a class="a-link" href="https://twitter.com/wabisabiyo" target="_blank">twitter.com/wabisabiyo</a></p>
	<p class="p-no-bottom"><img src="images/streamline-icon-professional-network-linkedin@40x40.svg" class="inline-media"/><a class="a-link" href="https://www.linkedin.com/in/alexischun/" target="_blank">linkedin.com/in/alexischun/</a></p>	
	<p class="p-no-bottom"><img src="images/streamline-icon-download-circle@40x40.svg" class="inline-media"/><a class="a-link" href="images/team/alexisfront.jpg" target="_blank">download headshot</a></p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if include.team %}
<div class="row team-row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="flipcard text-center">
      <div class="prof-link" data-toggle="modal" data-target="#JobModal"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="frontcard">
	<img src="images/team/jobfront.jpg" class="card-pictures" data-toggle="modal" data-target="#JobModal">
      </div>
      <div class="backcard">
	<video class="card-pictures" src="images/team/jobback.mp4" data-toggle="modal" data-target="#JobModal" autoplay loop muted playsinline></video>
      </div>
      <p><b>Job Chong</b><br>
	Developer / Ex-lawyer-to-be</p>
    </div>
    

    <div class="flipcard text-center">
      <!-- <div class="prof-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></div> -->
      <div class="frontcard">
    	<img src="images/team/iofront.jpg" class="card-pictures">
      </div>
      <div class="backcard">
    	<img style="margin-bottom: 5px" class="card-pictures" src="images/team/ioback.jpg"></img>
      </div>
      <p><b>Io</b><br>
    	Emotional Support Creature</p>
    </div>
  </div>
</div>

<div class="row team-row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="text-center" style="margin-top: 100px">
      <h2>Our Advisors</h2>
    </div>	
    <div class="flipcard text-center">
      <div class="prof-link" data-toggle="modal" data-target="#ColinModal"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="frontcard">
	<img src="images/team/colinfront.jpg" class="card-pictures" data-toggle="modal" data-target="#ColinModal">
      </div>
      <div class="backcard">
	<video class="card-pictures" src="images/team/colinback.mp4" data-toggle="modal" data-target="#ColinModal" autoplay loop muted playsinline></video>
      </div>
      <p><b>Colin</b><br>
	Opensource Strategy</p>
    </div>

    <!-- <div class="flipcard text-center"> -->
      <!-- 	<div class="prof-link" data-toggle="modal" data-target="#VirgilModal"><i class="fa fa-arrow-right" aria-hidden="true"></i></div> -->
      <!-- 	<div class="frontcard"> -->
	<!-- 	  <img src="images/team/virgilfront.jpg" class="card-pictures" data-toggle="modal" data-target="#VirgilModal"> -->
	<!-- 	</div> -->
      <!-- 	<div class="backcard"> -->
	<!-- 	  <video class="card-pictures" src="images/team/virgilback.mp4" data-toggle="modal" data-target="#VirgilModal" autoplay loop muted playsinline></video> -->
	<!-- 	</div> -->
      <!-- 	<p><b>Virgil (PhD)</b><br> -->
	<!-- 	  Ethereum</p> -->
      <!-- </div> -->
  </div>
</div>
{% endif %}


<!-- Meng button trigger modal -->
<div class="modal fade" id="MengModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

	<!-- Alexis wrote this at Meng's behest -->
	<h2 class="modal-title"><b>MENG</b></h2>
	<h4 align="left"><b>Cofounder</b><small> / Computer Scientist /
	    Entrepreneur / Investor / Graphic Designer</small></h4>
	<button type="button" data-dismiss="modal" aria-label="Close" id="teamModalClose">
	  <span aria-hidden="true">&times;</span>
	</button>

      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="col-lg-4">
	    <img src="images/team/mengfront.jpg" class="card-pictures"><br>
	    <br>
	    <div class="favourite-things-qn">Alignment</div>
	    <div class="favourite-things-ans">Chaotic Good</div>
	    
	    <div class="favourite-things-qn">Heavily Influenced by
	    </div>	  
	    <div class="favourite-things-ans">Neuromancer<br>
	      Burning Man<br>
	    </div>
	    
	    <div class="favourite-things-qn">Favourite things</div>	  
	    <div class="favourite-things-ans">
	      Leonard Cohen<br>
	      Venice, Italy<br>
	      Batman: Arkham City<br>
	      80s pop music<br>
	    </div>

	    <div class="favourite-things-qn">Most likely to</div>
	    <div class="favourite-things-ans">
	      Secretly diagnose your mental illness<br>

	      <div class="favourite-things-qn">Signalling Mechanisms </div>
	      <div class="favourite-things-ans">BSc Computer Science (U'Penn, '97)<br>
		Singapore Delegate to MIT's Regional Entrepreneurship Acceleration Program<br>
		Founder Institute Mentor<br>
		Entrepreneur-in-Residence at INSEAD Business School<br>
		Fellow at Harvard University Berkman Klein Center ('16 - '17)<br>
		Fellow at Stanford University CodeX ('17 - '18)<br>
		Perl, Javascript, Haskell, Prolog, Emacs<br>
	      </div>
	    </div>
	  </div>

	  <div class="col-lg-8">
	    <h4 div class ="profiles-tldr">TL;DR</h4>
	    <p align="left">As CTO, Meng is the lead systems architect, computer scientist, and
	      resident good cop at Legalese. Twenty years ago, while working during the first wave of Internet startups, he
	      created and led the anti-spam standard SPF to worldwide
	      adoption. He's purportedly a
	      lot wiser and more experienced now, so he wants to do the same and bring
	      Legalese's L4 to worldwide adoption. This time, with a revenue model.</p><br>
	    
	    <h4 div class ="profiles-tldr">Long Version</h4>
	    <p align="left"><b>Emails &amp; first startup</b><br>
	      In 1995, as a CS undergrad at the University of
	      Pennsylvania, Meng co-founded <a class="a-link"
					       href="http://pobox.com"
					       target="_blank">pobox.com</a>, the first commercial
	      email service (later acquired by Fastmail). A
	      couple of years later, he created an anti-spam email standard
	      (<a class="a-link"
		  href="https://en.wikipedia.org/wiki/Sender_Policy_Framework"
		  target="_blank">RFC4408 SPF</a>) and led it
	      to <b>global adoption</b>, by championing it to Microsoft, Google, Hotmail, and others.
	      <b>Today, SPF protects a majority of all email.</b>
	      The <a class="a-link"
		     href="http://www.washingtonpost.com/wp-dyn/content/article/2005/07/02/AR2005070201360.html"
		     target="_blank">Washington Post did a piece</a> on it.<br><br>
	      
	      <b>2nd Startup</b><br>
	      In 2005, Meng
	      co-founded <a class="a-link"
			    href="http://karmasphere.com"
			    target="_blank">karmasphere.com</a>, one of
	      the <b>first big data analytics solutions</b> to
	      deliver internet-scale “reputation data as a
	      service”. This evolved to offer Big Data tools and
	      was acquired by FICO.<br><br>

	      <b>Singapore &amp; the 3rd Startup</b><br> In
	      2008, Meng returned home to Singapore (after 20
	      years away) for family reasons.  He missed the
	      Valley. So, first, he co-founded <b>Hackerspace.SG</b>,
	      one of the first maker spaces in Singapore. Then,
	      bonding over <em>I'm OK, You're OK</em> with his soon-to-be cofounder, Hugh Mason, they
	      founded <b>JFDI.Asia, Singapore's first startup
		accelerator</b>. The amount of legal and
	      quasi-legal documentation Meng had to deal with
	      (not always successfully) at JFDI led Meng to put on his
	      programmer hat for a couple of days and hack
	      together what would later become v1 of Legalese.
	      <br><br>
	      Meng's background in innovation is informed by
	      Everett Rogers, Geoffrey Moore, Clayton
	      Christensen, William Janeway, Mariana Mazzucato,
	      and Simon Wardley; by sitting on a variety of
	      government panels in Singapore, most recently on
	      the Committee for the Future Economy's
	      subcommittee on Future Corporate Capabilities and
	      Innovation (Startups); and by investing (direct and indirectly) in over 70
	      startups. He hopes that Legalese, as a deep-tech startup based in Singapore, will
	      answer some of the questions he keeps getting
	      ("<em>what would it take for Singapore to grow
		the next unicorn?</em>", "<em>why is our R&amp;D not
		yielding the results we expected?</em>"). Other questions,
	      like "<em>are you Batman?</em>", he'll never
	      answer. <br><br>
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<!-- Alexis button trigger modal -->
<div class="modal fade" id="AlexisModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h2 class="modal-title"><b>ALEXIS</b></h2>
	<h4><b>Cofounder</b><small> / Recovering Lawyer / Self-taught Programmer / UI &amp; UX Designer 
	</small></h4>
	<button type="button" data-dismiss="modal" aria-label="Close" id="teamModalClose">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="col-lg-4 text-center">
	    <img src="images/team/alexisfront.jpg" class="card-pictures"><br>
	    <br>
	    <div class="favourite-things-qn">Alignment</div>
	    <div class="favourite-things-ans">Neutral Good</div>
	    
	    <div class="favourite-things-qn">Heavily Influenced by
	    </div>	  
	    <div class="favourite-things-ans">His Dark Materials<br>
	      Diamond Age<br>
	      Tina Fey &amp; Amy Poehler<br>
	      Planescape Torment<br>
	    </div>
	    
	    <div class="favourite-things-qn">Favourite things</div>	  
	    <div class="favourite-things-ans">
	      belle &amp; sebastian<br>
	      fencing (épée)<br>
	      sparkling water<br>
	    </div>

	    <div class="favourite-things-qn">Most likely to</div>
	    <div class="favourite-things-ans">
	      go on a proper rant in one seemingly impossible breath<br>

	      <div class="favourite-things-qn">Signalling Mechanisms</div>
	      <div class="favourite-things-ans">Bachelor of Laws (LL.B)<br>(Second Upper Class with Honours, Queen Mary University of London '11)<br>
		Cambridge University Long Vacation Scholarship<br>
		Advocate &amp; Solicitor of the Supreme Court of Singapore<br>
		TSMP Law Corporation (Corporate)<br>
		Rajah &amp; Tann LLP (Commercial Litigation; IP)<br>
		Secondments: BNP Paribas &amp; JP Morgan<br>
		Mandarin Chinese, Javascript, Emacs<br>
	      </div>
	    </div>
	  </div>
	  

	  <div class="col-lg-8" align="left">
	    <h4 div class ="profiles-tldr">TL;DR</h4>
	    <p>As cofounder and CEO of Legalese, Alexis's job description is
	      very vague. Anything that's not done but ought to have
	      been, is her job. As the recovering lawyer, Alexis also spends her day
	      exorcising legal demons and unlearning her bad
	      habits by sharing her understanding of the end-users, industry,
	      and established conventions and practices (i.e. horror stories) with the
	      engineering and product teams. She is known to sometimes style herself as
	      Alexis N. Chun in the well-honed tradition of Iain M. Banks.</p><br>

	    <h4 div class ="profiles-tldr">Long Version</h4>
	    <p>Alexis spends her days exorcising legal demons and
	      unlearning her bad habits. Mostly, she tries to get
	      things off the research team's plates so they can focus
	      on the hard stuff. That can be anything from writing
	      about and for Legalese, pitching to anyone who will listen,
	      convincing governments and companies to give us
	      money, answer product / industry questions,
	      managing the community, and putting her natural assets
	      (<a class="a-link"
		  href="http://www.lmfgtfy.com/?q=rbf" target="_blank">RBF</a>) to good
	      use, by playing bad cop to Meng's good cop within the
	      company. A little more self-interestedly, she does all this
              so she won't have to wait too long to become the
	      first L4 legal programmer.<br><br>

	      In her previous life, she first got <a class="footnote">lulled by the
		giant payout of being a corporate lawyer<span>(she trained in corporate law
		  at TSMP Law Corporation, a boutique Singaporean law firm that boasted
		  the highest starting salary)</span></a>, before moving on to a '<em>Big 4</em>'
	      experience with Rajah &amp; Tann where she continued her training and later
	      practised as an IP, IT, and commercial litigator. <a class="footnote">(Customary thank yous are footnoted here)<span>To <b> TSMP</b>, she is
		  grateful for the character building and for having imbued her with a
		  love of elegant drafting.<br><br> To <b>Rajah &amp; Tann</b>, she is grateful for the
		  wide scope of work, secondment opportunities (BNP Paribas;&nbsp;
		  JPMorgan), and for having always fed her like French royalty.</span></a>
	      Fortunately, none of the profession's razzle dazzle was enough to disabuse her of her mounting
	      suspicions that <b>the legal profession has neither the tools, math,
		nor systems needed to solve its problems</b>. Her then-covert
	      explorations in the tech industry led her to OKCupid, which eventually
	      led her to Meng. Long story short: &nbsp; They met, he proposed, and 1 month later
	      she quit her job to become co-founder of Legalese. (Technically, he formally proposed only 3 months after,
	      to which she might have reacted with a mild aneurysm and let a fumey fart escape whilst fully personifying the "???" thought bubble)<br><br>
	      
	      Alexis unschooled herself for secondary school in Singapore
	      (preferring instead to hole up in her bedroom discovering music,
	      films, and books), and is a proud alumna of Victoria Junior College. She's grateful that you read this far, but recommends that you
	      read any other section of the website instead (she put a lot of work into that). Or even
	      better, read Diamond Age. When she grows up, she'd rather like to be a
	      monster mash of Tina Fey, Amy Poehler, Lyra Silvertongue, Ursula K Le Guin, Nell, Karen Teoh, and Amanda
	      Palmer.</p>
	  </div>
	</div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->




<div class="modal fade" id="JobModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h2 class="modal-title"><b>JOB</b></h2>
	<h4 align="left"><b>Developer</b><small> / Ex-lawyer-to-be  
	</small></h4>
	<button type="button" data-dismiss="modal" aria-label="Close" id="teamModalClose">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="col-lg-4 text-center">
	    <img src="images/team/jobfront.jpg" class="card-pictures"><br>
	    <br>
	    <div class="favourite-things-qn">Alignment</div>
	    <div class="favourite-things-ans">True Neutral</div>
	    
	    <div class="favourite-things-qn">Heavily Influenced by
	    </div>	  
	    <div class="favourite-things-ans">Dune<br>
	      Foundation<br>
	      Beethoven<br>
	      Metal Gear Solid<br>
	    </div>
	    
	    <div class="favourite-things-qn">Favourite things</div>	  
	    <div class="favourite-things-ans">
	      ARPGs<br>
	      DOTA / DOTA 2<br>
	      videos of the above<br>
	      steamed fish<br>
	    </div>

	    <div class="favourite-things-qn">Most likely to</div>
	    <div class="favourite-things-ans">
	      move to another country to avoid having to share his opinions<br>

	      <div class="favourite-things-qn">Signalling Mechanisms</div>
	      <div class="favourite-things-ans">Bachelor of Laws (LL.B) (NUS, '16)<br>
		Javascript, Python, Ruby, the arcane languages that are AWS config, Emacs<br>
	      </div>
	    </div>
	  </div>
	  
	  <div class="col-lg-8" align="left">
	    <div class="row-prose">
	      <h4 class ="profiles-tldr">TL;DR</h4>
	      <p>The self-taught web developer at Legalese who is super relieved that he gets to deal with code and computers instead of having to actually become a lawyer (he'd met Alexis and her horror stories worked wonders on him). Law school was boring enough.</p><br> 
	      <h4 class ="profiles-tldr">Long Version</h4>
	      <p>Yes, it's from that book and person in the bible. His
		parents are religious; he no longer is.<br><br>
		The <a class="footnote">self-taught web
		  developer<span>though to be fair, he did attend a GA webdev course, but in his words, found it completely useless and preferred reading on his own instead</span></a>at Legalese deals with the practical side of
		Legalese's product. This includes front-end work,
		deployment, and all the other needs of a modern web
		application. After studying four years of law, he
		decided that the subject had turned his brain into mush,
		and thus is now rehabilitating himself with the more
		energetic environs of programming. But for Alexis's proclaimation that he is "too smart to be a real lawyer", he might have been peer and family pressured into Big Law. Boy, did he dodge one.<br><br>
		Job has one of the
		most enviable memory capacities of the team, is
		always first pick at trivia games, and a very avid reader. Somehow, he still manages to find time to
		play and watch DOTA 2, enjoy movies, and develop an
		opinion on music. He is occasionally (affectionately) teased
		for being from the <a class="a-link"
				      href="https://en.wikipedia.org/wiki/Gifted_Education_Programme_(Singapore)"
				      target="_blank">Gifted Education Programme</a> (where
		kids scoring amongst the top 1% of tested IQ are
		recruited for special education) because he's often 3 steps ahead of everyone and doesn't like writing documentation. He comforts the rest of us by
		pointing out that Meng was in it when it was designed for those in the top 0.25%, and if Meng can learn to write documentation and wait for the rest of us, so can he.<br><br>
	      </p>
	    </div>
	  </div>
	</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Colin's writeup-->
<div class="modal fade" id="ColinModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h2 class="modal-title"><b>COLIN</b></h2>
	<h4 align="left"><b>Advisor on opensource &amp; open standards strategy</b></h4>
	<button type="button" data-dismiss="modal" aria-label="Close" id="teamModalClose">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="col-lg-4 text-center">
	    <img src="images/team/colinfront.jpg" class="card-pictures"><br></div>  
	  <div class="col-lg-8">
	    <p>Colin is an open-source and community building
	      expert, software engineer, and business
	      development consultant. He advises Legalese on
	      building a venture-backed, commercial,
	      open-source business.<br><br>  Colin joined MySQL
	      after Series B, and helped it grow from $34M
	      in revenue in 2005 to $78M in 2008, and later to
	      its $1B acquisition by Sun. Colin is also the
	      founder of Grok Sdn Bhd, a technical
	      architecture firm specialising in open-source
	      software. <br><br>Currently, Colin is Chief Evangelist
	      at MariaDB Corporation, where he is also a
	      shareholder and part of the extended management
	      team.  <br><br>On top of being an active contributor and
	      evangelist for the MySQL ecosystem and The
	      Fedora Project, he was team lead (MS localisation), community marketing contact and
	      trainer for OpenOffice.org, the leading
	      open-source office software suite. Colin also
	      co-wrote the End User Linux Desktop Manual for
	      the United Nations Development Program’s
	      International Open Source Network, and developed
	      a Live CD for the UNDP, was voting committee
	      member and conference chair for O’Reilly MySQL
	      Conference &amp; Expo for 3 years (where he also
	      works on community-related web development), and
	      is the project administrator for
	      MySQL’s/MariaDB’s Google’s Summer of Code
	      initiative.
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
