{% include top.html %}

<body class="layout page-home body-box theme-solid header-gradient header-bg-size-auto header-bg-pos-tl header-overlay-map lumosity-dark undefined theme-threes ng-scope os-osx">
  <div class="container body-container">
    <div class="main-content">
      <div class="main-head">
	<div class="row">
	  <div class="col-sm-3 border-right section-left">
	    <div class="sidebar-nav">
	      <h4>Announcements</h4>
	      <ul>
		<li><a href="/announcements/wellwishers-may-2017"><span>Wellwishers Newsletter, May 2017</span></a></li>
		<li><a href="/announcements/wellwishers-dec-2016"><span>Wellwishers Newsletter, December 2016</span></a></li>
		<li><a href="/announcements/wellwishers-oct-2016"><span>Wellwishers Newsletter, October 2016</span></a></li>
		<li><a href="/announcements/wellwishers-aug-2016"><span>Wellwishers Newsletter, August 2016</span></a></li>
		<li><a href="/announcements/july-9th-presentation"><span>Notes from the July 9th Presentation</span></a></li>
		<li><a href="/announcements/wellwishers-july-2016"><span>Wellwishers Newsletter, July 2016</span></a></li>
		<li><a href="/announcements/comparison-table"><span>Comparison table of related products</span></a></li>
		<li><a href="/announcements/food-eating-contract"><span>A food eating contract</span></a></li>
		<li><a href="/announcements/com-is-live"><span>.com is live!</span></a></li>
		<li><a href="/announcements/welcome-to-legalese"><span>Welcome to Legalese</span></a></li>
	      </ul>
	    </div>
	  </div>  
	  <div class="col-sm-9 border-left section-right">
	    <div class="docs-content">
	      <div class="docs-header">
		<h1>{{page.title}}</h1>
	      </div>
	      <div class="docs-body">
		<div class="content block-content ready">
		  <div class="marked">
		    <div class="blocks-parent">
		    
		      {{ content }}

		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div> 

</body>
</html>
