<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Legalese</title>
    <meta name="description" content="legalese.com">
    <meta name="author" content="legalese">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700|Open+Sans:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/landingpage.css">
    <link rel="stylesheet" media="(max-width: 768px)" href="css/landingpage-max-768.css">
    <!-- comment this script out for local testing -->
    <!-- <script type="text/javascript" src="scripts/location.js"></script> -->
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->

    <!-- Note that there will be some formatting errors with the hover over effect if the hyperlinks spill over to the next line; so please ensure that we don't have long hyperlink text (I'd recommend that they keep to 6 words or fewer) -->

  </head>

  <body>
    <a href="javascript:" id="return-to-top">
      <i class="fa fa-chevron-up"></i>
      <p id="return-to-top-text">TOP</p>
    </a>
    <div id="top-c">
      <div class="container-fluid" id="first-container">
	<div id="desktop-display-header">
	  <div class="row">
	    <div class="col-md-2 col-md-offset-5">
	      <a href="index.html"><img src="images/20160713-b-sq.png" class="center-block legalese-logo"></a>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3 text-center">
	      <h3 class="logotype"><a href="index.html">LEGALESE</a></h3>
	      <p id="eating-law"><a href="index.html">software is eating law</a></p>
	    </div>
	  </div>
	</div>

	<!-- top horizontal nav menu -->
	<nav class="navbar navbar-default legalese-nav">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand visible-xs-inline"
	       href="#"><img src="images/20160713-b-sq.png"
			     class="brand-pic"></a>
	    <a class="visible-xs-inline-block" href="#" id="collapse-legalese"><b>LEGALESE</b></a>
	  </div>

	  <!-- top menu nav -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav nav-pills nav-justified" id="top-bar">
	      <li><a href="index.html"
		     class="top-bar-link"><div class="hvr-underline-from-center"><b>HOME</b></div></a></li>
	      <li><a href="aboutus.html"
		     class="top-bar-link"><div class="hvr-underline-from-center"><b>ABOUT US</b></div></a></li>

	      <li><a href="team.html"
		     class="top-bar-link"><div class="hvr-underline-from-center"><b>TEAM</b></div></a></li>

	      <li><a href="community.html"
		     class="top-bar-link"><div class="hvr-underline-from-center"><b>COMMUNITY&nbsp;&nbsp;&amp;&nbsp;&nbsp;CONTACT</b></div></a></li>
	      <!--
		  <li><a href="v2/dashboard" class="top-bar-link" id="login" style="color: rgba(0, 0, 255, 1)"><div class="hvr-underline-from-center"><b>LOG IN</b></div></a></li>
		  -->
	    </ul>
	  </div>
	</nav>
      </div>

      {{ content }}

      <div class="container-fluid bot-container">
	<div class="col-md-4" style="overflow-x: visible">
	  <p id="bot-legalese-large"><a href="index.html">LEGALESE</a></p>
	  <p class="para-ml"><a href="index.html">Legalese Pte. Ltd.</a>&nbsp;<span style="font-size: 11px">&copy;</span>&nbsp;<span id="copyright-date"></span> All rights reserved.</p>

	</div>

	<div class="col-md-2 bot-squeeze" id="first-bottom">
	  <p class="rights-reserved"><a href="terms.html">Terms of Use</a></p>
	  <p class="rights-reserved"><a href="privacy.html">Privacy &amp; Cookies</a></p>
	</div>
	<div class="col-md-2 col-md-offset-1 bot-squeeze">
	  <p class="rights-reserved"><a href="codeofconduct.html">Code of
	      Conduct</a></p>
	  <!--        <p class="rights-reserved"><a href="media.html">Press &amp; Media Kit</a></p> -->
	</div>
	<div class="col-md-2 col-md-offset-1 bot-squeeze">
	  <p class="rights-reserved"><a href="community.html">Contact Us</a></p>
	</div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
      <script src="scripts/textcontent.js"></script>
      <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
      <script>
	$(".flipcard").flip({
	trigger: "hover",
	front: ".frontcard",
	back: ".backcard"
	});
      </script>



  </body>
</html>

