<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Legalese</title>
    <meta name="description" content="legalese.com">
    <meta name="author" content="legalese">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700|Open+Sans:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/landingpage.css">
    <link rel="stylesheet" media="(max-width: 1023px)" href="css/landingpage-max-1024.css">
    <link rel="stylesheet" href="css/toggle.css">
    <!-- comment this script out for local testing -->
    <!-- <script type="text/javascript" src="scripts/location.js"></script> -->
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->

    <!-- Note that there will be some formatting errors with the hover over effect if the hyperlinks spill over to the next line; so please ensure that we don't have long hyperlink text (I'd recommend that they keep to 6 words or fewer) -->

  </head>

  <body>
    <a href="javascript:" id="return-to-top">
      <i class="fa fa-chevron-up"></i>
      <p id="return-to-top-text">TOP</p>
    </a>
    <div id="top-c">
      <div class="container-fluid" id="first-container">
	<div id="desktop-display-header">
	  <div class="row">
	    <div class="col-lg-2 offset-lg-5 text-center">
	      <img src="images/20160713-b-sq.png" class="center-block legalese-logo">
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-6 offset-lg-3 text-center">
	      <h3 class="logotype"><a href="/">LEGALESE</a></h3>
	      <p id="eating-law"><a href="/">software is eating law</a></p>
	    </div>
	  </div>
	</div>

	<div class="small-navbar d-block d-lg-none">
	  <div class="sidebarIconToggle" id="openSidebarMenu">
	    <div class="spinner diagonal part-1"></div>
	    <div class="spinner horizontal"></div>
	    <div class="spinner diagonal part-2"></div>
	  </div>
	</div>

	<div id="sidebarMenu" class="d-block d-lg-none">
	  <ul class="sidebarMenuInner">
	    <li>
	      Why Computational Law?
	      <ul class="sidebar-sublist" id="sidebar-sublist-first">
		<li class="top-subtitle" style="list-style: none">a.k.a. CLAW</li>
		<li><a class="a-link" href="problem-with-legal">Problem with Status Quo</a></li>
		<li><a class="a-link" href="prior-art">70 Years of R&amp;D</a></li>
		<li><a class="a-link" href="computational-law">Solution:&nbsp;Computational Law?</a></li>
	      </ul>
	    </li>
	    <li>
	      About Us
	      <ul class="sidebar-sublist">
		<li><a class="a-link" href="aboutus">About our company</a></li>
		<li><a class="a-link" href="team">Team</a></li>
		<li><a class="a-link" href="codeofconduct">Code of Conduct / Culture Keys</a></li>
	      </ul>	      
	    </li>
	    <li>
	      Education &amp; Resources
	      <ul class="sidebar-sublist">
		<li><a class="a-link" scroll="#informatics-content" href="prior-art">70 Years of R&amp;D</a></li>
		<li><a class="a-link" scroll="#players-content" href="legalscape">LegalTech Map</a></li>
		<li><a class="a-link" scroll="#players-content" href="prior-art#workshops-conferences">CLAW Events</a></li>
	      </ul>	      
	    </li>
	    <li>
	      <a class="no-underline" style="color: #333; text-decoration: none" href="community">Community &amp; Contact</a>
	    </li>
	    <li>
	      Solutions
	      <ul class="sidebar-sublist">
		<li><a class="a-link" href="individuals-and-enterprises">Individuals &amp; Enterprises</a></li>
		<li><a class="a-link" href="apis-and-white-label">APIs &amp; White Label</a></li>
	      </ul>
	    </li>
	  </ul>
	</div>
	
	<!-- top horizontal nav menu -->
	<div class="container d-none d-lg-block">
	  <nav class="navbar navbar-expand-lg legalese-nav justify-content-center">
	    <div>
	    </div>
	    <!-- <a class="navbar-brand logotype d-block d-sm-none" href="#"><img src="images/20160713-b-sq.png" class="brand-pic"><b>LEGALESE</b></a> -->


	    <!-- top menu nav -->
	    <div class="navbar-collapse justify-content-center" id="navbarSupportedContent">
	      <div class="row sidebar-title">
		<div class="col-12">
		  <h3 class="logotype"><a href="/">LEGALESE</a></h3>
		  <p id="eating-law"><a href="/">software is eating law</a></p>
		</div>
	      </div>
	      <ul class="navbar-nav justify-content-center" id="top-bar">
		<li class="dropdown nav-item">
		  <a class="dropdown-toggle hvr-underline-from-center title-font {% if page.location=='faq' %} active-tab {% endif %}" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Why Computational Law?
		  </a>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li class="top-subtitle">a.k.a. CLAW</li>
		    <li><a class="bottom-content-title" scroll="#statusquo-content" href="problem-with-legal">Problem with Status Quo</a></li>
		    <li><a class="bottom-content-title" scroll="#informatics-content" href="prior-art">70 Years of R&amp;D</a></li>
		    <li><a class="bottom-content-title" scroll="#complegal-content" href="computational-law">Solution:&nbsp;Computational Law?</a></li>
		  </ul>
		</li>
		<li class="dropdown nav-item">
		  <div class="dropdown-toggle hvr-underline-from-center title-font {% if page.location=='about' %} active-tab {% endif %}" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    About Us
		  </div>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <li><a href="aboutus">About our company</a></li>
		    <li><a href="team">Team</a></li>
		    <li><a href="codeofconduct">Code of Conduct / Culture Keys</a></li>
		  </ul>
		</li>
		<li class="dropdown nav-item">
		  <div class="dropdown-toggle hvr-underline-from-center title-font {% if page.location=='resources' %} active-tab {% endif %}" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Education &amp; Resources
		  </div>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
		    <li><a class="bottom-content-title" scroll="#informatics-content" href="prior-art">70 Years of R&amp;D</a></li>
		    <li><a class="bottom-content-title" scroll="#players-content" href="legalscape">LegalTech Map</a></li>
		    <li><a class="bottom-content-title" scroll="#players-content" href="prior-art#workshops-conferences">CLAW Events</a></li>
		  </ul>
		</li>
		<li class="dropdown nav-item">
		  <a class="hvr-underline-from-center title-font no-underline {% if page.location=='community' %} active-tab {% endif %}" href="community">
		    Community &amp; Contact
		  </a>
		</li>
		<li class="dropdown nav-item">
		  <div class="dropdown-toggle title-font {% if page.location=='solutions' %} active-tab {% endif %}" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Solutions
		  </div>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
		    <li><a href="individuals-and-enterprises">Individuals &amp; Enterprises</a></li>
		    <li><a href="apis-and-white-label">APIs &amp; White Label</a></li>
		  </ul>
		</li>
	      </ul>
	    </div>
	  </nav>
	</div>
      </div>

      {{ content }}

      <div class="container-fluid bot-container">
	<div class="row">
	  <div class="col-12 col-lg-2" style="overflow-x: visible">
	    <p id="bot-legalese-large"><a href="/">LEGALESE</a></p>
	    <p class="para-ml"><a href="/">Legalese Pte. Ltd.</a>&nbsp;<span style="font-size: 11px">&copy;</span>&nbsp;<span id="copyright-date"></span> All rights reserved.</p>
	  </div>
	  <div class="col-12 col-lg-1 bot-squeeze" id="first-bottom">
	    <p class="rights-reserved"><a href="terms">Terms of Use</a></p>
	    <p class="rights-reserved"><a href="privacy">Privacy &amp; Cookies</a></p>
	  </div>
	  <div class="col-12 col-lg-1 bot-squeeze">
	    <p class="rights-reserved"><a href="codeofconduct">Code of
		Conduct</a></p>
	  </div>
	  <div class="col-12 col-lg-1 bot-squeeze">
	    <p class="rights-reserved"><a href="community">Contact Us</a></p>
	    <p class="rights-reserved"><a href="media">Press &amp; Media</a></p>
	  </div>
	</div>
      </div>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>      <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
      <script type="text/javascript" src="scripts/accounting.js"></script>
      <script src="scripts/ResizeSensor.js"></script>
      <script type="text/javascript" src="scripts/textcontent.js"></script>
      <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
      <script src="https://unpkg.com/floatthead"></script>
      <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.3.0/dist/confetti.browser.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/node-uuid@1.4.8/uuid.min.js"></script>
      <script>
       $(".flipcard").flip({
	 trigger: "hover",
	 front: ".frontcard",
	 back: ".backcard"
       });
      </script>
      <script>
       $(() => $('table').floatThead({
         responsiveContainer: function($table){
	   return $table.closest(".table-responsive");
         }
       }));
      </script>
      <script>
       var canvas = document.getElementById('celebration-canvas')
       if (canvas) {
	 canvas.confetti = canvas.confetti || confetti.create(canvas, {
	   resize: true
	 });
	 canvas.confetti({
	   particleCount: 100,
	   spread: 70,
	   origin: {
	     y: 0.6
	   }
	 });
       }
      </script>

  </body>
</html>

