{% include top.html %}

<body class="layout page-home body-box theme-solid header-gradient header-bg-size-auto header-bg-pos-tl header-overlay-map lumosity-dark undefined theme-threes ng-scope os-osx">
  <div class="container body-container">
    <div class="main-content">
      <div class="main-head">
	<div class="row">
	  <div class="col-sm-3 border-right section-left">
	    <div saveheight="1" class="sidebar-nav">
	      <h4>New Users</h4>
	      <ul>
		<li><a href="/docs/getting-started"><span>Getting Started with Legalese v1</span></a></li>
		<li><a href="/docs/general-info"><span>Version 1.0 User Guide</span></a></li>
		<li><a href="/docs/first-time-fundraising"><span>First-Time Fundraising</span></a></li>
		<li><a href="/docs/hello-future-lexdevs"><span>Hello Future LexDevs!</span></a></li>
	      </ul>
	      <h4>Demos</h4>
	      <ul>
		<li><a href="/docs/angel-investment"><span>An Angel Leads an Investment</span></a></li>
		<li><a href="/docs/three-founders-incorporate-a-company"><span>Three Founders Incorporate a Company</span></a></li>
	      </ul>
	      <h4>Product Tutorials</h4>
	      <ul>
		<li><a href="/docs/1-hello-world"><span>Hello, World!</span></a></li>
		<li><a href="/docs/2-send-for-signature"><span>Send for Signature</span></a></li>
		<li><a href="/docs/3-a-real-nondisclosure-agreement"><span>A Real Nondisclosure Agreement</span></a></li>
		<li><a href="/docs/4-introducing-docsets"><span>Introducing Docsets</span></a></li>
		<li><a href="/docs/5-incorporation"><span>Incorporation</span></a></li>
		<li><a href="/docs/an-investment-round"><span>An Investment Round</span></a></li>
		<li><a href="/docs/6-developing-your-own-templates"><span>Tweaking an Existing Template</span></a></li>
		<li><a href="/docs/7-creating-a-template-from-scratch"><span>Creating a Template from Scratch</span></a></li>
		<li><a href="/docs/8-forking-the-legalese-codebase"><span>Forking the Legalese Codebase</span></a></li>
		<li><a href="/docs/9-submitting-patches"><span>Submitting Code Patches</span></a></li>
		<li><a href="/docs/10-submitting-template-patches"><span>Submitting Template Patches</span></a></li>
		<li><a href="/docs/11-tweaking-xml-pdf-workflow"><span>Tweaking XML-&gt;PDF workflow</span></a></li>
		<li><a href="/docs/12-third-party-plugins"><span>Third-party Plugins</span></a></li>
	      </ul>
	      <h4>The Company</h4>
	      <ul>
		<li><a href="/docs/howto-earn-the-org-designer-badge"><span>HOWTO Earn the Org Designer Badge</span></a></li>
		<li><a href="/docs/howto-earn-the-canon-reader-badge"><span>HOWTO Earn the Canon Reader Badge</span></a></li>
		<li><a href="/docs/why-a-declarative-functional-dsl"><span>Why a Declarative, Functional DSL?</span></a></li>
	      </ul>
	      <h4>Developers</h4>
	      <ul>
		<li><a href="/docs/setting-up-a-developer-environment"><span>Setting up a Developer Environment</span></a></li>
		<li><a href="/docs/test-input"><span>Google Apps and GitHub</span></a></li>
		<li><a href="/docs/echosign"><span>EchoSign integration</span></a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="col-sm-9 border-left section-right">
	    <div class="docs-content">
	      <div class="docs-header">
		<h1>{{page.title}}</h1>
	      </div>
	      <div class="docs-body">
		<div class="content block-content ready">
		  <div class="blocks-parent">
		    
		    {{ content }}

		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div> 

</body>
</html>
