body {
    color: #333333;
    font-family: "Lato", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.a-link {
    color: rgb(0, 0, 255);
    text-decoration: none;
    border-bottom: 1px dashed rgb(0, 0, 255);
    display: inline;
    position: relative;
    padding: 0 .2em;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    z-index: 2;
}

.a-link:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 255, 0.16);
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transition: height 250ms;
    transition: height 250ms;
}

.a-link:hover {
    border-color: transparent;
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.a-link:hover:before {
    height: 100%;
}

a > div {
    display: inline-block;
}

blockquote {
    border-left: none;
    position: relative;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: ",,";
    font-size: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #333333;
    transform: rotate(180deg);
}

blockquote:after {
    display: block;
    padding-left: 10px;
    content: ",,";
    font-size: 60px;
    position: absolute;
    right: 0px;
    bottom: 30px;
    color: #333333;
}

blockquote footer:before {
    content: "";
}

.blockquote-footer {
    display: inline-block;
    position: relative;
}

.blockquote-footer:before {
    content: "";
    position: absolute;
    left    : 40%;
    bottom  : -25px;
    height  : 2px;
    width   : 60px;
    border-bottom: 2px solid #c2c2c2;
}

.row-with-blockquote {
    margin-bottom: 20px;
}


#first-container {
    padding: 0px;
}

#eating-law {
    font-family: "Alegreya", serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.col-md-6.col-md-offset-3.text-center > h3 {
    font-family: "Alegreya", serif;
    font-size: 28px;
    letter-spacing: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-md-6.col-md-offset-3 > h3 > a {
    color: #333333;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
    min-height: 45px;
    border-radius: 0px;
    height: 49px;
}

.nav > li > a.active,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.nav > li {
    padding-bottom: 0px;
}

.fa.fa-twitter {
    color: #333333;
    font-size: 16px;
}

.page-active {
    border-bottom: 3px solid;
    border-color: rgba(82, 254, 206, 1);
}

.legalese-nav {
    background-color: white;
    border: none;
    box-shadow: 0 6px 3px -3px rgba(150,150,150,0.2);
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.brand-pic {
    height: 24px;
    position: inline-block;
}

.legalese-nav.affix {
    position: fixed;
    top: 0;
    z-index: 3;
    max-width: 100vw;
}

#top-bar {
    font-size: 12px;
    font-family: "Lato", sans-serif;
}


#top-bar > li > a,
#blurb-nav-id > li > a {
    color: #333333;
    text-decoration: none;
}

.blurb-nav-highlight {
    border-bottom: 3px solid;
    border-color: rgba(92, 254, 206, 1);
}

.nav-pills > li + li {
    margin-left: 0px;
}

.blurb-nav {
    background-color: white;
    font-family: 'Lato', sans serif;
    font-size: 16px;
    box-shadow: 0px 3px 3px rgba(150,150,150,0.2);
}

.blurb-nav > li {
    width: 20%;
}

#player-nav {
    margin-top: 20px;
}

#player-nav.affix {
    position: fixed;
    top: 40px;
}

#player-nav > p {
    margin-bottom: 2px;
}

#player-nav > p > a,
#player-nav > p > a:hover {
    font-weight: 300;
    color: #333333;
}

.player-nav-sub {
    font-size: 10px;
    text-indent: 5em each-line;
}

.legalese-logo {
    height: 50px;
    padding-top: 10px;
}

.techcrunch {
    padding-top: 25px;
    width: 60vw;
    padding-bottom: 25px;
}

#pompous {
    display: inline-block;
}

/* https://unsplash.com/photos/Oaqk7qqNh_c */

#second-container {
    background-image: url('../images/paper.jpg');
    background-size: contain;
}

.black-rec {
    background-color: rgba(0,0,0, 0.1);
}

.row.text-center.black-rec > h2 {
    font-weight: 300;
    font-size: 25px;
}

.row.text-center.black-rec > p {
    font-size: 15px;
}

.get-started {
    width: 18vw;
    height: 3.5vw;
    font-size: 20px;
    border: 2px solid;
    border-color: rgba(82, 254, 206, 1);
    border-radius: 0px;
    background-color: black;
    color: rgba(82, 254, 206, 1);
}

.downarrow {
    height: 8vh;
    cursor: pointer;
}

.top-container {
    margin-top: 20px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #c2c2c2;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 100;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top-text {
    position: fixed;
    bottom: -8px;
    right: 31px;
    color: #c2c2c2;
    display: block;
    font-size: 11px;
    font-family: "Roboto Condensed", sans-serif;
}

#return-to-top i {
    color: rgba(255, 241, 44, 1);
    margin: 0;
    position: relative;
    left: 11px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #c2c2c2;
}
#return-to-top:hover i {
    color: rgba(255, 241, 44, 1);
    top: 5px;
}

div.li-inline p     { font-weight: bold; margin-bottom: 0; margin-top: 20px; }
div.li-inline ul    { list-style-type: disc; margin-top: 0 }
div.li-inline ul li { display: inline; line-height: 21pt; }
div.li-inline p.nobold { font-weight: normal; padding-left: 20px; }
div.li-inline li:not(:first-child)::before {
    content: "//";
    font-size: 17.5pt;
    position:relative;
    bottom:-3px;
    vertical-align: center;
    margin-right: 6pt;
    margin-left: 6pt;
}

/* Simplification so we don't always have to use the DIV */
ul.li-inline    { list-style-type: disc; margin-top: 0; padding-left: 0px; }
ul.li-inline li { display: inline; }
ul.li-inline li:not(:first-child)::before {
    content: "//";
    position:relative;
    vertical-align: center;
    margin-right: 6pt;
    margin-left: 4pt;
}


.svg-wrapper {
    height: 40px;
    margin: 0 auto;
    width: 200px;
}

.button-shape {
    stroke-dasharray: 0 500;
    stroke-dashoffset: -240;
    stroke-width: 4px;
    fill: black;
    stroke: rgba(82,254,206, 1);
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.button-text > a,
.button-text > a:hover {
    font-family: 'Lato', sans serif;
    font-size: 18px;
    color: rgba(82,254,206, 1);
    top: -38px;
    position: relative;
    text-decoration: none;
}

.svg-wrapper:hover .button-shape {
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.bot-container {
    margin-top: 20px;
    padding: 10px 0px;
    box-shadow: 0 -3px 3px -3px rgba(51, 51, 51, 0.2);
}

.bot-link > p,
.bot-link > p > a,
.bot-link > p > a:hover {
    color: #333333;
    font-weight: 700;
    font-size: 12px;
}

.bot-squeeze {
    width: 10%;
    padding: 10px 0 0 0;
}

#bot-legalese-col {
    width: 25%;
    padding-right: 0px;
}

#rights-reserved,
#rights-reserved > a {
    font-weight: 300;
    font-size: 10px;
    color: #333333;
}

.bot-padding {
    padding-top: 5px;
}

#bot-legalese {
    font-family: "Alegreya", serif;
    font-weight: 700;
    padding-top: 10px;
    font-size: 24px;
    letter-spacing: 4px;
}

#legalese-pte-ltd > p {
    margin-bottom: 0px;
}
